@{
    ViewBag.Title = "Официальный сайт больницы лечение ДЦП в Китае, город Юньчэн";
	ViewBag.Description = "Описание больниц по лечению ДЦП, аутизма, задержка речи, задержки развития и других неврологических заболеваний";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main main-page" role="main">

    <section class="sec-intro">
        <div class="sec-intro-back">
            <div class="sec-intro-slider" id="sec-intro-slider">
                <div class="slide" data-style="background-image: url(content/images/main-slider/slide_main-page_1.jpg)"></div>
                <div class="slide" data-style="background-image: url(content/images/main-slider/slide_main-page_2.jpg)"></div>
                <div class="slide" data-style="background-image: url(content/images/main-slider/slide_main-page_3.jpg)"></div>
            </div>
            <div class="sec-intro-video" id="sec-intro-video">
                <video class="video-back" loop>
                    <source src="/" data-src="content/video/main-page-video.mp4" type='video/mp4;  codecs="avc1.42E01E, mp4a.40.2"'>
                    <source src="/" data-src="content/video/main-page-video.webm" type='video/webm; codecs="vp8, vorbis"'>
                    <source src="/" data-src="content/video/main-page-video.ogv" type='video/ogg;  codecs="theora, vorbis"'>
                </video>
            </div>
        </div><!-- END sec-intro-back -->
        <div class="sec-intro-front">
            <div class="all-middle-wrap">
                <div class="all-middle-inn txt-center">
                    <h1 class="sec-intro-title">Эффективное лечение ДЦП в Китае</h1>
                    <!-- <div class="sec-intro-note">Меняющаяся информация</div> -->
                </div>
            </div>
        </div><!-- END sec-intro-front -->
        <div class="sec-intro-form">
            <div class="container">
                @Html.Partial("_Preorder")
            </div>
        </div><!-- END sec-intro-form -->
    </section><!-- END sec-intro -->
    
    <section class="sec-articles">
        <div class="container">
            <div class="row">
                <div class="all-pages-head col-lg-12">
                    <h2 class="main-page-title sec-articles-title">Новости и события</h2>
                </div>
            </div>
            <div class="row">
                <ul id="js-for-load-children" class="news">
                    @*@using (Ajax.BeginForm("Index", "News", null, null, new { id = "newsform" }))*@

                    <li class="news-item">
                        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
                            @if (((IEnumerable<NewsPageModel>)ViewBag.News).Any() && ((IEnumerable<NewsPageModel>)ViewBag.News).Count() > 4)
                            {
                                <a class="news-item-link" href="@Url.Action(((IEnumerable<NewsPageModel>)ViewBag.News).ToList()[0].Alias, "News")" target="_blank">
                                    <span class="news-item-image" style="background-image: url('@Html.Raw(((IEnumerable<NewsPageModel>)ViewBag.News).ToList()[0].MainPictureSrc(Server))');"></span>
                                    <span class="news-item-date">@Html.Raw(((IEnumerable<NewsPageModel>)ViewBag.News).ToList()[0].Date.HasValue ? ((IEnumerable<NewsPageModel>)ViewBag.News).ToList()[0].Date.Value.ToString("dd.MM.yyyy") : "<Дата не указана>")</span>
                                    <span class="news-item-name">"@Html.Raw(((IEnumerable<NewsPageModel>)ViewBag.News).ToList()[0].Subject)"</span>
                                </a>
                            }
                        </div>
                        <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12">
                            <ul class="news-aside">
                                @if (((IEnumerable<NewsPageModel>)ViewBag.News).Any() && ((IEnumerable<NewsPageModel>)ViewBag.News).Count() > 1)
                                {
                                    int cnt = 1;
                                    foreach (NewsPageModel news in ((IEnumerable<NewsPageModel>)ViewBag.News).Skip(1).Take(3))
                                    {
                                        <li class="news-aside-item">
                                            <a class="news-aside-item-link" href="@Url.Action(((IEnumerable<NewsPageModel>)ViewBag.News).ToList()[cnt].Alias, "News")" target="_blank">
                                                <span class="news-aside-item-image-wrapper">
                                                    <span class="news-aside-item-image" style="background-image: url('@Html.Raw(((IEnumerable<NewsPageModel>)ViewBag.News).ToList()[cnt].MainPictureSrc(Server))');"></span>
                                                </span>
                                                <span class="news-aside-item-name">@Html.Raw(((IEnumerable<NewsPageModel>)ViewBag.News).ToList()[cnt].Subject)</span>
                                                <span class="news-aside-item-date">@Html.Raw(((IEnumerable<NewsPageModel>)ViewBag.News).ToList()[cnt].Date.HasValue ? ((IEnumerable<NewsPageModel>)ViewBag.News).ToList()[cnt].Date.Value.ToString("dd.MM.yyyy") : "<Дата не указана>")</span>
                                            </a>
                                        </li>
                                        cnt++;
                                    }
                                }
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="row">
                <div class="col-lg-12 txt-center">
                    <a class="btn btn-light" href="@Url.Action("Index", "News")">Все новости и события</a>
                </div>
            </div>
        </div>
    </section>
    
    <section class="sec-clinic"> 
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h2 class="main-page-title sec-clinic-title">Наши клиники</h2>
                    <div class="sec-clinic-text js-spoiler-body">
                        <p>
                            Реабилитация и лечение пациентов с ДЦП и другими неврологическими заболеваниями организована на базе двух государственных больниц города Юньчэн (провинция Шаньси, КНР). Комплексные методы лечения, разработанные докторами клиники, эффективны у пациентов с двигательными нарушениями, ДЦП. В лечебно-реабилитационной практике применяются как традиционная китайская, так и западные (европейские) методики диагностики и лечения. Каждому пациенту доктора подбирают индивидуальную программу лечения на основе данных, полученных при осмотре и диагностике. Лечебная программа адекватна форме выявленного заболевания
                        </p>
                        
                       </div>
                 <!--    <a class="sec-clinic-more js-spoiler-clinic" role="button">Читать дальше</a> --> 
					
                </div>
                <div class="col-md-5">
                    <div class="sec-clinic-map">
                        @Html.Partial("_WeatherHome")
                    </div>
                </div>
            </div><!-- END row -->
            <div class="row">
                <h3 class="sec-clinic-subtitle">г. Юньчэн, КНР</h3>
                <div class="col-sm-6">
                    <div class="sec-clinic-img">
                        <div class="img-center">
                            <img class="clinic-img" src="~/Content/images/clinic/clinic_1.jpg" alt="Вторая народная многопрофильная больница города Юньчэн">
                        </div>
                        <div class="clinic-txt">Больница заболеваний головного мозга при НИИ акупунктуры головы</div>
                        <a class="clinic-link" href="@Url.Action("Yancheng2", "Department")"></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="sec-clinic-img">
                        <div class="img-center">
                            <img class="clinic-img" src="~/Content/images/clinic/clinic_2.jpg" alt="Больница заболеваний головного мозга при НИИ акупунктуры головы">
                        </div>
                        <div class="clinic-txt">Вторая народная многопрофильная больница города Юньчэн</div>
                        <a class="clinic-link" href="@Url.Action("Yancheng1", "Department")"></a>
                    </div>
                </div>
            </div><!-- END row -->

            <div class="sec-clinic-about">
                <div class="about-txt">
                    Больницы  основаны в 1956 году, являются государственными лечебными учреждениями и находятся под непосредственным контролем Управления здравоохранения города Юньчэн.
                </div>
            </div>

        </div><!-- END container -->
    </section><!-- END sec-clinic -->

    <section class="sec-personal">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="main-page-title sec-personal-title">Медицинский персонал</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="sec-personal-note">
                        В каждой из клиник работают квалифицированные специалисты, использующие как европейские,
                        так и уникальные китайские методики.
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="sec-personal-doctor">
                        <div class="doctor-img">
                            <img src="~/Content/images/doctors/300_sue.jpg" alt="Су Цзюнь">
                        </div>
                        <div class="doctor-txt">
                            <div class="doctor-name">Сюэ Чжэньсо</div>
                            <div class="doctor-post">Ведущий врач невролог – реабилитолог провинции Шаньси, Китай</div>
                            <div class="doctor-note">
                                Проводит осмотры и назначает лечение. За 25 лет практической работы
                                разработал и внедрил ряд уникальных высокоэффективных методик.
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- END row -->
        </div><!-- END container -->

        <div class="sec-personal-tabs">
            <div class="container js-personal-tabs">
                <ul class="sec-personal-tabshead">
                    <li><a class="js-tabs-link active" data-tab="personal-tab-1">Больница заболеваний головного мозга г.&nbsp;Юньчен&nbsp(КНР)</a></li>
                    <li><a class="js-tabs-link" data-tab="personal-tab-2">2-я народная многопрофильная больница г.&nbsp;Юньчен&nbsp(КНР)</a></li>
                   <!--    <li><a class="js-tabs-link" data-tab="personal-tab-3">ДРЦ “Мастерская здоровья” <br>г. Севастополь (РФ)</a></li>
                    <li><a class="js-tabs-link" data-tab="personal-tab-4">Детский рабилитационный центр <br>г. Алматы (Казахстан)</a></li>-->
                </ul>
            </div>

            <div class="sec-personal-tabsbody js-tabs-body">
                <div class="sec-personal-tab js-tabs-item active" id="personal-tab-1">
                    <div class="container">
                        <div class="sec-personal-line js-doctors-slider">
                            <div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_01.jpg" alt="Бай Чхуэн Мэй">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Бай Чхуэн Мэй</div>
                                    <div class="doctor-post">Организация лечения, логопед-дефектолог, массаж, логомассаж</div>
                                    <div class="doctor-note">Врач, стаж 10 лет.</div>
                                </div>
                            </div>
                            <div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_02.jpg" alt="Джан Шу Лан">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Джан Шу Лан</div>
                                    <div class="doctor-post">Иглотерапевт</div>
                                    <div class="doctor-note">Врач, стаж 31 лет.</div>
                                </div>
                            </div>
                            <div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_03.jpg" alt="Нин Джи Юнь">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Нин Джи Юнь</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 17 лет.</div>
                                </div>
                            </div>
                            <div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_04.jpg" alt="Ван Тюин">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Ван Тюин</div>
                                    <div class="doctor-post">Трудотерапия, мелкая моторика рук</div>
                                    <div class="doctor-note">Инструктор, стаж 23 года.</div>
                                </div>
                            </div>
                            <div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_05.jpg" alt="Ван Тюинь">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Ван Тюинь</div>
                                    <div class="doctor-post">Трудотерапия, мелкая моторика рук</div>
                                    <div class="doctor-note">Инструктор, стаж 13 лет.</div>
                                </div>
                            </div>
                            <div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_06.jpg" alt="Сюй Тья Юэнь">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Сюй Тья Юэнь</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 7 лет.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_07.jpg" alt="Ву Янг">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Ву Янг</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 7 лет.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_08.jpg" alt="Ван Чхуэн">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Ван Чхуэн</div>
                                    <div class="doctor-post">Массаж Туйна, точечный массаж</div>
                                    <div class="doctor-note">Инструктор, стаж 2 года.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_09.jpg" alt="Суэн Ву">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Суэн Ву</div> 
                                     <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 3 года.</div>
                                 </div>
                            </div> 
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_010.jpg" alt="Ву Жень Жуэй">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Ву Жень Жуэй</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 4 года.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_011.jpg" alt="Ву Сюй Пхан">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Ву Сюй Пхан</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 4 года.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_012.jpg" alt="Цхао Дин Тхао">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Цхао Дин Тхао</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 4 года.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_013.jpg" alt="Сон Тин">
                                </div>
                                <div class="doctor-txt">
                                      <div class="doctor-name">Сон Тин</div>
                                    <div class="doctor-post">Трудотерапия, мелкая моторика рук</div>
                                    <div class="doctor-note">Инструктор, стаж 5 лет.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_014.jpg" alt="Джу Дин Дин">
                                </div>
                                <div class="doctor-txt">
                                      <div class="doctor-name">Джу Дин Дин</div>
                                    <div class="doctor-post">Логопедический массаж</div>
                                    <div class="doctor-note">Инструктор, стаж 3 года.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_015.jpg" alt="Ван Чхуэн">
                                </div>
                                <div class="doctor-txt">
                                      <div class="doctor-name">Ван Чхуэн</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 3 года.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_016.jpg" alt="Джан Дьен">
                                </div>
                                <div class="doctor-txt">
                                      <div class="doctor-name">Джан Дьен</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 3 года.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_017.jpg" alt="Фан Я Тхин">
                                </div>
                                <div class="doctor-txt">
                                      <div class="doctor-name">Фан Яа Тхин</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 1 год.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_018.jpg" alt="Ван Сяа Ся">
                                </div>
                                <div class="doctor-txt">
                                     <div class="doctor-name">Ван Сяа Ся</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 2 года.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_019.jpg" alt="Джан Тьен">
                                </div>
                                <div class="doctor-txt">
                                      <div class="doctor-name">Джан Тьен</div>
                                    <div class="doctor-post">Массаж</div>
                                    <div class="doctor-note">Инструктор, стаж 3 года.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_020.jpg" alt="Хоу Ци Хуа">
                                </div>
                                <div class="doctor-txt">
                                      <div class="doctor-name">Хоу Тци Хуа</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 2 года.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_021.jpg" alt="Джу Я Фэн">
                                </div>
                                <div class="doctor-txt">
                                      <div class="doctor-name">Джу Яа Фэн</div>
                                    <div class="doctor-post">Трудотерапия, мелкая моторика рук</div>
                                    <div class="doctor-note">Инструктор, стаж 3 года.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_022.jpg" alt="Ду Ла Хуэй">
                                </div>
                                <div class="doctor-txt">
                                      <div class="doctor-name">Ду Ла Хуэй</div>
                                    <div class="doctor-post">Логопедический массаж</div>
                                    <div class="doctor-note">Инструктор, стаж 1 год.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_023.jpg" alt="Джао Ма Ли">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Джао Ма Ли</div>
                                    <div class="doctor-post">Логопедический массаж</div>
                                    <div class="doctor-note">Инструктор, стаж 2 года.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_024.jpg" alt="Дин Лан">
                                </div>
                                <div class="doctor-txt">
                                      <div class="doctor-name">Дин Лан</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 2 года.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_025.jpg" alt="Ло Жуэй">
                                </div>
                                <div class="doctor-txt">
                                     <div class="doctor-name">Ло Жуэй</div>
                                    <div class="doctor-post">Массаж, ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 1 год.</div>
                                </div>
                            </div>
                        </div>
                    </div><!-- END container -->
                </div><!-- END sec-personal-tab -->
                <div class="sec-personal-tab js-tabs-item" id="personal-tab-2">
                    <div class="container">
                        <div class="sec-personal-line js-doctors-slider">
                            <div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_201.jpg" alt="Лей Тинбо">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Лей Тинбо</div>
                                    <div class="doctor-post">Начальник отделения реабилитации ДЦП</div>
                                    <div class="doctor-note">Врач-реабилитолог, стаж 11 лет.</div>
                                </div>
                            </div>
                            <div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_202.jpg" alt="Дэн Цзямин">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Лю</div>
                                    <div class="doctor-post">Иглотерапевт, </br> организация лечения</div>
                                    <div class="doctor-note">Врач-педиатор, стаж 18 лет.</div>
                                </div>
                            </div>
                            <div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_203.jpg" alt="Хэ Юйфэн">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Хэ Юйфэн</div>
                                    <div class="doctor-post">Иглотерапевт,</br> ЛФК</div>
                                    <div class="doctor-note">Врач, стаж 14 лет.</div> 
                                </div>
                            </div>
                           <!-- <div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_204.jpg" alt="Ле Дунпин">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Ле Дунпин</div>
                                    <div class="doctor-post">Физиотерапевт</div>
                                    <div class="doctor-note">Врач высшей категории, стаж 16 лет.</div>
                                </div>
                            </div> -->
                            <div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_205.jpg" alt="Дэн Цзямин">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Дэн Цзямин</div>
                                    <div class="doctor-post">Детский невролог</div>
                                    <div class="doctor-note">Врач высшей категории, стаж 22 года.</div>
                                </div>
                            </div>
                            <!-- <div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_206.jpg" alt="Цзя Гуанцзе">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Цзя Гуанцзе</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 2 года.</div>
                                </div>
                            </div> -->
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_207.jpg" alt="Мао Кхэ">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Мао Кхэ</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 17 лет.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_208.jpg" alt="Го Дин Пхен">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Го Дин Пхен</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 4 года.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_209.jpg" alt="Гао Бин">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Гао Бин</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 7 лет.</div>
                                </div>
                            </div>
							<!-- <div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_210.jpg" alt="Цзя Гуанцзе">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Цзя Гуанцзе</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 2 года.</div>
                                </div>
                            </div> -->
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_211.jpg" alt="Цзя Гуанцзе">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Цзя Гуанцзе</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 2 года.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_212.jpg" alt="Цзя Гуанцзе">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Цзя Гуанцзе</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 2 года.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_213.jpg" alt="Цзя Гуанцзе">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Цзя Гуанцзе</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 2 года.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_214.jpg" alt="Хан Цзинцзин">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Хан Цзинцзин</div>
                                    <div class="doctor-post">Массаж</div>
                                    <div class="doctor-note">Инструктор, стаж 2 года.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_215.jpg" alt="Чжан Хэн">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Чжан Хэн</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор,  стаж 2 года.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_216.jpg" alt="Ли Вейци">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Ли Вейци</div>
                                    <div class="doctor-post">сенсорная интеграция, </br>массаж</div>
                                    <div class="doctor-note">Инструктор,  стаж 2 года.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_217.jpg" alt="Ян Нан">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Ян Нан</div>
                                    <div class="doctor-post">Массаж</div>
                                    <div class="doctor-note">Инструктор,  стаж 2 года.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_218.jpg" alt="Цзин Шуай">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Цзин Шуай</div>
                                    <div class="doctor-post">Массаж</div>
                                    <div class="doctor-note">Инструктор,  стаж 2 года.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_219.jpg" alt="Тхен Женю">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Тхен Женю</div>
                                    <div class="doctor-post">Массаж</div>
                                    <div class="doctor-note">Инструктор,  стаж 2 года.</div>
                                </div>
                            </div>
							<div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_220.jpg" alt="Лю Хайся">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Лю Хайся</div>
                                    <div class="doctor-post">мануальная терапия, </br> массаж</div>
                                    <div class="doctor-note">Инструктор,  стаж 11 лет.</div>
                                </div>
                            </div>
							<!-- <div class="doctor-card">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_221.jpg" alt="Цзя Гуанцзе">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Цзя Гуанцзе</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор,  стаж 2 года.</div>
                                </div>
                            </div> -->
                        </div>
                    </div><!-- END container -->
                </div><!-- END sec-personal-tab -->

              </div><!-- END sec-personal-tabsbody -->
        </div><!-- END sec-personal-tabs -->
    </section><!-- END sec-personal -->

    <section class="sec-procedure">
        <div class="sec-procedure-back"></div>
        <div class="sec-procedure-front">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h2 class="main-page-title sec-procedure-title">Процедуры и лекарства</h2>
                        <img class="sec-procedure-img" src="~/Content/images/img_china-doctor.png" alt="Процедуры и лекарства" />
                        <div class="sec-procedure-note">
                            Сочетание достижений передовой мировой науки и традиционных китайских методик дает высокий результат. Общепринятые методы лечения вполовину (а иногда и втрое) менее эффективны.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h3 class="sec-procedure-subtitle">Процедуры</h3>
                        <ul class="sec-procedure-list">
                            <li>Акупунктура, иглотерапия (Acupuncture)</li>
                            <li>Физиотерапия (Electric physiotherapy)</li>
                            <li>Массаж (Massage)</li>
                            <li>Лечебная физкультура (PT Physical therapy)</li>
                            <li>Фармакопунктура: инъекционное обкалывание БАТ (Acupoint injection)</li>
                            <li>Мелкая моторика, трудотерапия (ОТ occupational therapy)</li>
                            <li>Логопедический массаж (ST speech therapy)</li>
							<li>Кинезиологическое тейпирование (Kinesiotaping - Medical Taping)</li>
                            <li>Сенсорная интеграция (Sensory Integration Therapy (SIT))</li>
                            <li>Слинг-терапия (S-E-T Sling Exercise Therapy)</li>
                            <li>Имплантация коллагеновых нитей (Implantation of collagen threads into acu-points)</li>
							<li>Ортопедический костюм TheraSuit</li>
							<li>Подвесная терапия на мультифункциональном комплексе тренажеров (Universal Exercise Unite (UEU))</li>
													
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3 class="sec-procedure-subtitle">Лекарства</h3>
                        <ul class="sec-procedure-list">
                            <li>Мышиный нервный ростовой фактор, раствор для инъекций (Mouse Nerve Growth Factor Injection)</li>
                            <li>Метилкобаламин, раствор для инъекций (Methylcobalamin Injection)</li>
                            <li>Глазные аминопептиды, раствор для инъекций (Ocular Aminopeptide Injection)</li>
                            <li>Гликопептид ганодермы (Бочжи), раствор для инъекций (Ganoderma capense Glycopeptide Injection)</li>
							 <li>Цереброзид-Карнозин, раствор для инъекций (Cerebroside-Carnosine Injection)</li>
                            <li>Комплексный раствор для инъекций с мускусом (Compound Musk Injection)</li>
                            <li>Гидролизат человеческой плаценты (Human Placenta Hydrolysate)</li>
							<li>Оксирацетам, раствор для инъекций (Oxiracetam Injection)</li>
							<li>Церебролизин, раствор для инъекций (Cerebrolysin Injection)</li>
							<li>Ацеглютамид, раствор для инъекций (Aceglutamide (Aceglutamine) Injection)</li>
							<li>Моносиаловый ганглиозид GM1, раствор для инъекций (Sodium Monosialotetrahexosylganglioside (GM1) Injection)</li>
							<li>Комплексный раствор для инъекций анисодина гидробромида (Compound Anisodine Hydrobromide Injection)</li>
							
				
                        </ul>
                    </div>
                </div><!-- END row -->
                <div class="row">
                    <div class="col-lg-12 txt-center">
                        <a class="btn btn-light" href="http://dcp-china.ru/Procedure">Подробнее о процедурах и препаратах</a>
                    </div>
                </div><!-- END row -->
            </div><!-- END container -->
        </div><!-- END sec-procedure-front -->
    </section><!-- END sec-procedure -->

    <section class="sec-steps">
        <div class="sec-steps-back"></div>
        <div class="sec-steps-front">
            <div class="container">
                <div class="sec-steps-text">
                    <h2 class="main-page-title sec-steps-title">Оформление и лечение</h2>
                    <div class="sec-steps-note">Мы сделали оформление легким, лечение - комфортным</div>
                </div>
                <div class="row js-steps-fadein">
                    <div class="col-md-3 col-sm-6">
                        <div class="sec-steps-step js-step-fadein">
                            <div class="step-img">
                                <div class="step-img-num"></div>
                                <div class="step-img-pic">
                                    <img src="~/Content/images/sec-steps/main-page_step_1.gif" alt="Заполнение заявки">
                                </div>
                            </div>
                            <div class="step-txt">
                                <h3 class="step-title">Заполнение заявки</h3>
                                <div class="step-note">
                                    <p>Выбираете клинику, ориентировочные сроки прибытия и отъезда.</p>
                                    <p>Для предварительной оценки врачами состояния ребенка вам будет предложено ответить на ряд вопросов.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="sec-steps-step js-step-fadein">
                            <div class="step-img">
                                <div class="step-img-num"></div>
                                <div class="step-img-pic">
                                    <img src="~/Content/images/sec-steps/main-page_step_2.gif" alt="Приобретение билетов">
                                </div>
                            </div>
                            <div class="step-txt">
                                <h3 class="step-title">Приобретение билетов</h3>
                                <div class="step-note">
                                    <p>После подтверждения заявки вы оформляете визы и приобретаете билеты.</p>
                                    <p>Мы предоставляем все необходимые документы для получения китайской визы.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="sec-steps-step js-step-fadein">
                            <div class="step-img">
                                <div class="step-img-num"></div>
                                <div class="step-img-pic">
                                    <img src="~/Content/images/sec-steps/main-page_step_3.gif" alt="Встреча и размещение">
                                </div>
                            </div>
                            <div class="step-txt">
                                <h3 class="step-title">Встреча и размещение</h3>
                                <div class="step-note">
                                    <p>Мы встречаем вас в аэропорту города Юньчэн, помогаем с размещением.</p>
									<p>Встречаем вас на железнодорожном вокзале города Юньчэн.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="sec-steps-step js-step-fadein">
                            <div class="step-img">
                                <div class="step-img-num"></div>
                                <div class="step-img-pic">
                                    <img src="~/Content/images/sec-steps/main-page_step_4.gif" alt="Лечение">
                                </div>
                            </div>
                            <div class="step-txt">
                                <h3 class="step-title">Лечение</h3> 
                                <div class="step-note">
                                    <p>Мы следим, чтобы лечение было эффективным, а ваше пребывание в клинике - комфортным.</p>
                                    <p>Отзывы о лечении нам очень важны.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- END row -->
                <div class="row">
                    <div class="col-lg-12 txt-center">
                        <a class="btn btn-orang-outlined" href="@Html.Raw(User.Identity.IsAuthenticated ? Url.Action("Orders", "Cabinet") : Url.Action("Registration", "Preorder"))">ЗАПИСАТЬСЯ НА ЛЕЧЕНИЕ</a>
                        <div class="sec-steps-bttm">Начните заполнять заявку. На любом этапе вы сможете прервать заполнение и все данные сохранятся</div>
                    </div>
                </div><!-- END row -->
            </div><!-- END container -->
        </div><!-- END sec-steps-front -->
    </section><!-- END sec-steps -->

    <section class="sec-since">
        <div class="sec-since-back"></div>
        <div class="sec-since-front">
            <div class="container">
                <h2 class="main-page-title sec-since-title">Принимаем на лечение с&nbsp;2010&nbsp;года</h2>
                <ul class="sec-since-total js-counters">
                    <li>
                        <span class="item-data js-count-one" data-count="8">0</span>
                        <span class="item-note">стран</span>
                    </li>
                    <li>
                        <span class="item-data js-count-two" data-count="1115">0</span>
                        <span class="item-note">пациента</span>
                    </li>
                </ul>
                <ul class="sec-since-countries js-countries-fadein">
                    <li>
                        <span class="item-note">Россия</span>
                        <span class="item-data">596</span>
                    </li>
                    <li>
                        <span class="item-note">Украина</span>
                        <span class="item-data">96</span>
                    </li>
                    <li>
                        <span class="item-note">Казахстан</span>
                        <span class="item-data">318</span>
                    </li>
                    <li>
                        <span class="item-note">Узбекистан</span>
                        <span class="item-data">43</span>
                    </li>
                    <li>
                        <span class="item-note">Азербайджан</span>
                        <span class="item-data">37</span>
                    </li>
                    <li>
                        <span class="item-note">Киргизия</span>
                        <span class="item-data">10</span>
                    </li>
                    <li>
                        <span class="item-note">Беларусь</span>
                        <span class="item-data">13</span>
                    </li>
                    <li>
                        <span class="item-note">Тайланд</span>
                        <span class="item-data">2</span>
                    </li>
                </ul>
            </div><!-- END container -->
        </div><!-- END sec-since-front -->
    </section><!-- END sec-since -->

    <section class="sec-children">
        <div class="container">
            <div class="sec-children-text">
                <h2 class="main-page-title sec-children-title">Наши дети</h2>
                <div class="sec-children-note">
                    Знакомьтесь с пациентами и их родителями, обменивайтесь новостями, впечатлениями.
                    Находите финансовую помощь и помогайте другим.
                </div>
            </div>
            @Html.Partial("_ChildTalesHome")
        </div><!-- END container -->
    </section><!-- END sec-children -->

</div><!-- END main -->
