@model Cure.WebSite.Models.NewsPageModel
@{
    ViewBag.Title = Model.Subject;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main has-custom-bg" role="main">
    <section class="news-inner-wrapper">
        <div class="container">
            <div class="all-pages-body">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <div class="news-inner">
                            <div class="user-content">
                                <div class="back">
                                    <a class="back-link" href="@Url.Action("Index", "News")">&larr; К новостям и событиям</a>
                                </div>
                                <div class="news-inner-header clearfix">
                                    <div class="news-inner-header-image" style="background-image: url('@Html.Raw(Model.MainPictureSrc(Server))')"></div>
                                    <div class="news-inner-date">@Html.Raw(Model.Date.HasValue ? Model.Date.Value.ToString("dd.MM.yyyy") : "") </div>
                                    <h2>@Html.Raw(Model.Subject)</h2>
                                </div>
                                @Html.Raw(Model.Text)
                            </div>
                            @*<ul class="social-list">
                                <li class="social-list-item">
                                    <a class="social-list-item-link vk" href="#" title="Вконтакте">
                                        <i class="social-list-item-icon fa fa-vk"></i>
                                    </a>
                                </li>
                                <li class="social-list-item">
                                    <a class="social-list-item-link ok" href="#" title="Одноклассники">
                                        <i class="social-list-item-icon fa fa-odnoklassniki"></i>
                                    </a>
                                </li>
                                <li class="social-list-item">
                                    <a class="social-list-item-link fb" href="#" title="Facebook">
                                        <i class="social-list-item-icon fa fa-facebook"></i>
                                    </a>
                                </li>
                            </ul>*@
                            <script type="text/javascript" src="http://yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
                            <script type="text/javascript" src="http://yastatic.net/share2/share.js" charset="utf-8"></script>
                            <div style="text-align: left;" class="gallery-share ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir" data-counter=""></div>
                            <div class="user-content">
                                <div class="video-helper clearfix">
                                    <h4>Ваш видеопомощник</h4>
                                    <div class="video-wrapper">
                                        <iframe width="100%" height="320" src="https://www.youtube-nocookie.com/embed/gBo4dWWQ1q8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <p>Целью лечения является устранение или значительное уменьшение выраженности всех элементов деформации для получения функциональной, мобильной, безболезненной, сильной, опорной стопы, имеющей нормальную форму и дающей возможность ношения нормальной обуви.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        @*<h4 class="aside-title">Наш магазин</h4>
                        <ul class="aside-list">
                            <li class="aside-list-item">
                                <a class="aside-list-item-link" href="#">
                                    <img class="aside-list-item-image" src="~/content/images/news-page/banner-item.jpg" alt="" />
                                </a>
                            </li>
                            <li class="aside-list-item">
                                <a class="aside-list-item-link" href="#">
                                    <img class="aside-list-item-image" src="~/content/images/news-page/banner-item.jpg" alt="" />
                                </a>
                            </li>
                        </ul>*@
                    </div>
                </div>
            </div>
        </div><!-- END container -->
    </section>
</div>
