@using System.Configuration
@using Cure.DataAccess
@using Cure.Utils
@{
    ViewBag.Title = "Отзывы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main" role="main">
    @using (Ajax.BeginForm("Index", "Mension", null, null, new { id = "mensionform" }))
    {
        <div class="container">
            <div class="all-pages-head price-head">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="all-pages-H1 has-underline is-centered">Отзывы</h1>
                        <h2 class="all-pages-H2 is-centered">Родители юных пациентов о нашей работе и работе клиник</h2>
                    </div>
                </div>
                <div class="row top-30">
                    <div class="col-md-5">
                        <div class="selector forms-selector ">
                            @Html.Hidden("filter", 0, new { id = "mensionfilter" })
                            <div class="selector-val" data-val="0">Все отзывы</div>
                            <ul class="selector-list">
                                <li data-val="0">Все отзывы</li>
                                @foreach (Department dep in (IEnumerable<Department>)ViewBag.DepSubjects)
                                {
                                    <li data-val="@dep.Id">@dep.Name</li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-4 txt-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="btn btn-green-outlined js-show-popup" data-pop="pop-add-testimonial">НАПИСАТЬ ОТЗЫВ</a>
                        }
                    </div>
                </div>
            </div><!-- END all-pages-head -->
        </div><!-- END container -->
        <div class="all-pages-body">
            <div class="testimonials" id="js-for-load-testimonials">
                @Html.Partial("_Mensions")
            </div>
            <div class="all-pages-more testimonials-more">
                @Html.Hidden("skiprecords", 0, new { id = "skiprecords" })
                <div class="more-title">
                    Позаканы <span id="more-count">@Html.Raw((ViewBag.TotalCount <= 12 ? ViewBag.MensionsCount : 12))</span> из <span id="more-all">@ViewBag.MensionsCount</span>
                </div>
                <div class="more-btn">
                    <a class="btn btn-light has-loading js-load-more-testimonials">загрузить еще</a>
                </div>
            </div>

        </div>
    }
</div>