
@{
    ViewBag.Title = "Процедуры";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="all-pages-head medicine-head">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="medicine-head-links">
                        <li><a href="@Url.Action("Index", "Medicine")"><span>Препараты</span></a></li>
                        <li><h1><span>Процедуры</span></h1></li>
                    </ul>
                    <div class="medicine-subtitle">
                        Основываясь на клинических проявлениях различных типов церебрального паралича и более чем двадцатилетнем практическом опыте, сформировали уникальную идею реабилитации детей с ДЦП.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="medicine-head-prop">
                        <div class="prop-icon">
                            <img src="~/Content/images/medicine/prop-icon_2.png" alt="Медицинский персонал">
                        </div>
                        <div class="prop-text">
                            Медицинский персонал клиник имеет высокую квалификацию и многолетний опыт успешной практики
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="medicine-head-prop">
                        <div class="prop-icon">
                            <img src="~/Content/images/medicine/prop-icon_3.png" alt="Удобные процедурные">
                        </div>
                        <div class="prop-text">
                            Удобные процедурные кабинеты оснащены современнным диагностическим и лечебным оборудованием
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="medicine-head-prop">
                        <div class="prop-icon">
                            <img src="~/Content/images/medicine/prop-icon_4.png" alt="Эффективность и показатели">
                        </div>
                        <div class="prop-text">
                            Реабилитационная оценка состояния пациента важный элемент эффективности лечения
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END all-pages-head -->
    </div><!-- END container -->

    <div class="all-pages-body procedure-body">
        <div class="container">
            <div class="row">

                <div class="col-md-9 procedure">
                    <div class="procedure-img">
                        <a href="@Url.Action("Acupuncture", "Procedure")" title="Акупунктура">
                            <img src="~/Content/images/procedures/procedures_1.jpg" alt="Акупунктура">
                        </a>
                    </div>
                    <div class="procedure-txt">
                        <h3 class="procedure-title">
                            <a href="@Url.Action("Acupuncture", "Procedure")">Акупунктура, иглотерапия (Acupuncture)</a>
                        </h3>
                        <div class="procedure-note">
                            Специалисты Второй народной больницы и больницы заболеваний головного мозга
                            города Юньчэн взяли на вооружение старинные практики акупунктуры,
                            переосмысленные в свете последних достижений медицинской науки.
                            Иглотерапевтические схемы, применяемые врачами больниц, разработаны в том числе и Юньчэнгском НИИ акупунктуры.<br><br>
                            В наших клиниках работают прямые ученики профессора Jiao Shunfa (Цзяо Шуньфа)
                        </div>
                        <div class="procedure-btm">
                            <a class="btn btn-light" href="@Url.Action("Acupuncture", "Procedure")">Подробнее</a>
                        </div>
                    </div>
                </div><!-- END procedure -->

                <div class="col-md-9 procedure">
                    <div class="procedure-img">
                        <a href="@Url.Action("Electric", "Procedure")" title="Физиотерапия">
                            <img src="~/Content/images/procedures/procedures_2.jpg" alt="Физиотерапия">
                        </a>
                    </div>
                    <div class="procedure-txt">
                        <h3 class="procedure-title">
                            <a href="@Url.Action("Electric", "Procedure")">Физиотерапия (Electric physiotherapy)</a>
                        </h3>
                        <div class="procedure-note">
                            Физиотерапевтические процедуры способствуют расширению кровеносных сосудов,
                            усилению тока крови, нормальному кровообращению, улучшают питание нервной и
                            мышечной ткани, удаляют застойные явления и воспалительные процессы.<br><br>
                            Различные лечебные эффекты достигаются по средствам изменения частоты
                        </div>
                        <div class="procedure-btm">
                            <a class="btn btn-light" href="@Url.Action("Electric", "Procedure")">Подробнее</a>
                        </div>
                    </div>
                </div><!-- END procedure -->

                <div class="col-md-9 procedure">
                    <div class="procedure-img">
                        <a href="@Url.Action("Massage", "Procedure")" title="Массаж">
                            <img src="~/Content/images/procedures/procedures_3.jpg" alt="Массаж">
                        </a>
                    </div>
                    <div class="procedure-txt">
                        <h3 class="procedure-title">
                            <a href="@Url.Action("Massage", "Procedure")">Массаж (Massage)</a>
                        </h3>
                        <div class="procedure-note">
                            Улучшается кровообращение, лимфообращение, обменные процессы в мышцах,
                            суставах и окружающих их тканях. Импульсы от тканей, подвергшихся массажу,
                            поступают в спинной и головной мозга, корригируя их функциональную активность<br><br>
                            Массаж включает стимулирование всего тела с головы до ног
                        </div>
                        <div class="procedure-btm">
                            <a class="btn btn-light" href="@Url.Action("Massage", "Procedure")">Подробнее</a>
                        </div>
                    </div>
                </div><!-- END procedure -->

                <div class="col-md-9 procedure">
                    <div class="procedure-img">
                        <a href="@Url.Action("PtPhysical", "Procedure")" title="Лечебная физкультура">
                            <img src="~/Content/images/procedures/procedures_4.jpg" alt="Лечебная физкультура">
                        </a>
                    </div>
                    <div class="procedure-txt">
                        <h3 class="procedure-title">
                            <a href="@Url.Action("PtPhysical", "Procedure")">Лечебная физкультура (PT Physical therapy)</a>
                        </h3>
                        <div class="procedure-note">
                            Врач определяет потенциальные возможности развития, выявляет ограничения
                            в амплитуде движений, причины возникновения помех, и на основе собранных данных
                            разрабатывает рациональную программу лечения ДЦП физическими упражнениями. <br><br>
                            Лечебная физкультура – важнейший элемент реабилитации больных с ДЦП
                        </div>
                        <div class="procedure-btm">
                            <a class="btn btn-light" href="@Url.Action("PtPhysical", "Procedure")">Подробнее</a>
                        </div>
                    </div>
                </div><!-- END procedure -->

                <div class="col-md-9 procedure">
                    <div class="procedure-img">
                        <a href="@Url.Action("Acupoint", "Procedure")" title="Обколки">
                            <img src="~/Content/images/procedures/procedures_5.jpg" alt="Обколки">
                        </a>
                    </div>
                    <div class="procedure-txt">
                        <h3 class="procedure-title">
                            <a href="@Url.Action("Acupoint", "Procedure")">Фармакопунктура: инъекционное обкалывание БАТ (Acupoint injection)</a>
                        </h3>
                        <div class="procedure-note">
                            Фармакопунктура или обкалывание биологически активных точек (БАТ)
                            лекарственными препаратами – передовая методика лечения неврологических заболеваний.
                            Широко используемое в мировой медицинской практике, обкалывание особенно эффективно
                            применяется в Китае, на родине иглорефлексотерапии.<br><br>
                            Инъекции в активные точки проводятся внутримышечно или подкожно.
                        </div>
                        <div class="procedure-btm">
                            <a class="btn btn-light" href="@Url.Action("Acupoint", "Procedure")">Подробнее</a>
                        </div>
                    </div>
                </div><!-- END procedure -->

                <div class="col-md-9 procedure">
                    <div class="procedure-img">
                        <a href="@Url.Action("OtOccupational", "Procedure")" title="Мелкая моторика">
                            <img src="~/Content/images/procedures/procedures_6.jpg" alt="Мелкая моторика">
                        </a>
                    </div>
                    <div class="procedure-txt">
                        <h3 class="procedure-title">
                            <a href="@Url.Action("OtOccupational", "Procedure")">Мелкая моторика, трудотерапия (ОТ occupational therapy)</a>
                        </h3>
                        <div class="procedure-note">
                            Помогает предотвратить и восстановить функциональные расстройства, снизить их влияние
                            на качество жизни, а также в максимальной степени увеличить функциональность
                            организма, психологически и социально приспособить человека к окружающей среде
                            теорий китайской и европейской медицины<br><br>
                            Мелкая моторика — это важная составляющая реабилитационной медицины
                        </div>
                        <div class="procedure-btm">
                            <a class="btn btn-light" href="@Url.Action("OtOccupational", "Procedure")">Подробнее</a>
                        </div>
                    </div>
                </div><!-- END procedure -->

                <div class="col-md-9 procedure">
                    <div class="procedure-img">
                        <a href="@Url.Action("StSpeech", "Procedure")" title="Логопедический массаж">
                            <img src="~/Content/images/procedures/procedures_7.jpg" alt="Логопедический массаж">
                        </a>
                    </div>
                    <div class="procedure-txt">
                        <h3 class="procedure-title">
                            <a href="@Url.Action("StSpeech", "Procedure")">Логопедический массаж (ST speech therapy) </a>
                        </h3>
                        <div class="procedure-note">
                            Целью логопедического лечения является повышение способностей больного ребенка выражать
                            языком свои мысли и понимать чужую речь, а также восстановление способностей ребенка
                            к коммуникации по средствам речи<br><br>
                            Пять причин возникновения проблем в общении у детей:
                        </div>
                        <div class="procedure-btm">
                            <a class="btn btn-light" href="@Url.Action("StSpeech", "Procedure")">Подробнее</a>
                        </div>
                    </div>
                </div><!-- END procedure -->

                <div class="col-md-9 procedure">
                    <div class="procedure-img">
                        <a href="@Url.Action("Kinesiotaping", "Procedure")" title="Кинезиологическое тейпирование">
                            <img src="~/Content/images/procedures/procedures_8.jpg" alt="Кинезиологическое тейпирование">
                        </a>
                    </div>
                    <div class="procedure-txt">
                        <h3 class="procedure-title">
                            <a href="@Url.Action("Kinesiotaping", "Procedure")">Кинезиологическое тейпирование (Kinesiotaping - Medical Taping) </a>
                        </h3>
                        <div class="procedure-note">
                            Тейпы обеспечивают адекватную работу мышц, протекание саногенетических процессов,
                            уменьшая болевой эффект, при этом не ограничивая движений, улучшая крово- и лимфоток,
                            обладая гипоаллергенными свойствами и полной воздухо- и влагопроницаемостью, позволяет
                            использовать их на протяжении до 5 дней, 24 часа в сутки, даже в воде<br><br>
                            Тейпы Kinesio могут использоваться вместе с другими видами терапии
                        </div>
                        <div class="procedure-btm">
                            <a class="btn btn-light" href="@Url.Action("Kinesiotaping", "Procedure")">Подробнее</a>
                        </div>
                    </div>
                </div><!-- END procedure -->

                <div class="col-md-9 procedure">
                    <div class="procedure-img">
                        <a href="@Url.Action("Sensory", "Procedure")" title="Кинезиологическое тейпирование">
                            <img src="~/Content/images/procedures/procedures_8.jpg" alt="Кинезиологическое тейпирование">
                        </a>
                    </div>
                    <div class="procedure-txt">
                        <h3 class="procedure-title">
                            <a href="@Url.Action("Sensory", "Procedure")">Сенсорная интеграция (Sensory Integration Therapy (SIT))</a>
                        </h3>
                        <div class="procedure-note">
                            Процесс, посредством которого мозг, получив информацию от различных органов чувств, после многократного структурного анализа и комплексной обработки принимает точный план действий<br><br>
                            Этот процесс позволяет всему организму работать эффективно и гармонично
                        </div>
                        <div class="procedure-btm">
                            <a class="btn btn-light" href="@Url.Action("Sensory", "Procedure")">Подробнее</a>
                        </div>
                    </div>
                </div><!-- END procedure -->

                <div class="col-md-9 procedure">
                    <div class="procedure-img">
                        <a href="@Url.Action("SlingExercise", "Procedure")" title="Кинезиологическое тейпирование">
                            <img src="~/Content/images/procedures/procedures_8.jpg" alt="Кинезиологическое тейпирование">
                        </a>
                    </div>
                    <div class="procedure-txt">
                        <h3 class="procedure-title">
                            <a href="@Url.Action("SlingExercise", "Procedure")">Слинг-терапия (S-E-T  Sling Exercise Therapy)</a>
                        </h3>
                        <div class="procedure-note">
                            Метод слинг-терапии изобретен более сорока лет назад, однако разработка новых медицинских реабилитационных техник с использованием подвесных устройств началась относительно недавно <br><br>
                            Получаемые на тренажерах навыки становятся основой для последующего обучения самостоятельному движению
                        </div>
                        <div class="procedure-btm">
                            <a class="btn btn-light" href="@Url.Action("SlingExercise", "Procedure")">Подробнее</a>
                        </div>
                    </div>
                </div><!-- END procedure -->

                <div class="col-md-9 procedure">
                    <div class="procedure-img">
                        <a href="@Url.Action("Implantation", "Procedure")" title="Кинезиологическое тейпирование">
                            <img src="~/Content/images/procedures/procedures_8.jpg" alt="Кинезиологическое тейпирование">
                        </a>
                    </div>
                    <div class="procedure-txt">
                        <h3 class="procedure-title">
                            <a href="@Url.Action("Implantation", "Procedure")">Имплантация коллагеновых нитей (Implantation of collagen threads into acu-points)</a>
                        </h3>
                        <div class="procedure-note">
                            Представляет собой метод лечения вживлением специальной коллагеновой нити в акупунктурные (биоактивные) точки.Достоинства метода имплантации коллагеновых нитей заключается в ощутимой положительной эффективности, безопасности, непрерывности и пролонгированности лечебного воздействия.<br><br>
                            При введении нити в биоактивные точки в болевой области, данная область быстро оздоравливается
                        </div>
                        <div class="procedure-btm">
                            <a class="btn btn-light" href="@Url.Action("Implantation", "Procedure")">Подробнее</a>
                        </div>
                    </div>
                </div><!-- END procedure -->

                <div class="col-md-9 procedure">
                    <div class="procedure-img">
                        <a href="@Url.Action("TheraSuit", "Procedure")" title="Кинезиологическое тейпирование">
                            <img src="~/Content/images/procedures/procedures_8.jpg" alt="Кинезиологическое тейпирование">
                        </a>
                    </div>
                    <div class="procedure-txt">
                        <h3 class="procedure-title">
                            <a href="@Url.Action("TheraSuit", "Procedure")">Ортопедический костюм TheraSuit</a>
                        </h3>
                        <div class="procedure-note">
                            Данный костюм оказывает компрессию и дает нагрузку на кожу, мышцы и  суставы, и может быть использован для реабилитации больных церебральным параличом, людей с нервно-мышечными расстройствами, расстройствами костно-мышечной системы, больных после инсульта, больных с повреждениями спинного и головного мозга<br><br>
                            В результате использования костюма достигаются следующие эффекты:
                        </div>
                        <div class="procedure-btm">
                            <a class="btn btn-light" href="@Url.Action("TheraSuit", "Procedure")">Подробнее</a>
                        </div>
                    </div>
                </div><!-- END procedure -->

                <div class="col-md-9 procedure">
                    <div class="procedure-img">
                        <a href="@Url.Action("Universal", "Procedure")" title="Кинезиологическое тейпирование">
                            <img src="~/Content/images/procedures/procedures_8.jpg" alt="Кинезиологическое тейпирование">
                        </a>
                    </div>
                    <div class="procedure-txt">
                        <h3 class="procedure-title">
                            <a href="@Url.Action("Universal", "Procedure")">Подвесная терапия на мультифункциональном комплексе тренажеров (Universal Exercise Unite  (UEU))</a>
                        </h3>
                        <div class="procedure-note">
                            Подвесная терапия на мультифункциональном комплексе тренажеров, также известная как Угуль терапия, — это разработка известного польского врача-ортопеда профессора Дэга (Dega). Это комплекс, который позволяет тренировать силу и выносливость определённых групп мышц.<br><br>
                            Применять его в сочетании с костюмами TheraSuit© для реабилитации пациентов с церебральным параличом
                        </div>
                        <div class="procedure-btm">
                            <a class="btn btn-light" href="@Url.Action("Universal", "Procedure")">Подробнее</a>
                        </div>
                    </div>
                </div><!-- END procedure -->

                <div class="col-md-9 procedure">
                    <div class="procedure-img">
                        <a href="@Url.Action("Itp", "Procedure")" title="Кинезиологическое тейпирование">
                            <img src="~/Content/images/procedures/procedures_8.jpg" alt="Кинезиологическое тейпирование">
                        </a>
                    </div>
                    <div class="procedure-txt">
                        <h3 class="procedure-title">
                            <a href="@Url.Action("Itp", "Procedure")">Программа интенсивной физиотерапии (ITP)</a>
                        </h3>
                        <div class="procedure-note">
                            В данной программе в качестве основных инструментов применяются костюмы TheraSuit© и мультифункциональный комплекс тренежеров (UEU). Кроме того, данная программа объединила в себе различные методы лечения и техники, такие как нейро-развивающая терапия (Бобат-терапия), PNF-терапия (проприоцептивное нейро-мышечное упрощение), тамо-терапия, пилатес и т. д. Все это собрано воедино, чтобы позволить пациенту повысить самостоятельность до максимально возможного уровня за минимально короткие сроки.<br><br>
                            Стандартная программа интенсивной физиотерапии включает в себя:
                        </div>
                        <div class="procedure-btm">
                            <a class="btn btn-light" href="@Url.Action("Itp", "Procedure")">Подробнее</a>
                        </div>
                    </div>
                </div><!-- END procedure -->


            </div><!-- END row -->
        </div><!-- END container -->

    </div><!-- END all-pages-body -->
</div><!-- END main -->