@using System.Configuration
@using Cure.Utils
<div class="account-header">
    <div class="container">
        <div class="account-logout">
            <ul class="logout-settings account-menu">
                <li @Html.Raw(Request.Url.AbsolutePath.Contains("Cabinet") && !Request.Url.AbsolutePath.Contains("MyPage") && !Request.Url.AbsolutePath.Contains("Messages") && !Request.Url.AbsolutePath.Contains("Balance") && !Request.Url.AbsolutePath.Contains("Orders") ? @"class=""active""" : @"")>
                    <a href="@Url.Action("Index", "Cabinet")"><i class="ico-settings"></i>Настройки</a>
                </li>
            </ul>
            <div class="logout-img">
                <img id="my-userpic" src="@Html.Raw(SiteUtils.GetMyUserpic(Server, 
                            Session, 
                            User.Identity.Name, 
                            ConfigurationManager.AppSettings["PhotoLocation"], 
                            ConfigurationManager.AppSettings["PhotoUrl"]))" 
                     alt="@User.Identity.Name" title="@User.Identity.Name">
            </div>

            @Html.ActionLink("Выход", "Logout", "Login", null, new
            {
                @class = "logout-btn",
                @role = "button",
                @title = "Выход: " + @User.Identity.Name
            })
        </div>
        <ul class="account-menu">
            @*<li @Html.Raw(Request.Url.AbsolutePath.Contains("Cabinet")
                && !Request.Url.AbsolutePath.Contains("MyPage")
                && !Request.Url.AbsolutePath.Contains("Messages")
                && !Request.Url.AbsolutePath.Contains("Balance")
                && !Request.Url.AbsolutePath.Contains("Orders") ? @"class=""active""" : @"")><a href="@Url.Action("Index", "Cabinet")"><i class="ico-user"></i>Профиль</a></li>*@
            <li @Html.Raw(Request.Url.AbsolutePath.Contains("Messages") ? @"class=""active""" : @"")><a href="@Url.Action("Messages", "Cabinet")"><i class="ico-mail"></i><span class="count" id="unread-messages-count"></span>Cообщения</a></li>
            <li @Html.Raw(Request.Url.AbsolutePath.Contains("Orders") ? @"class=""active""" : @"")><a href="@Url.Action("Orders", "Cabinet")"><i class="ico-order"></i>Заявки</a></li>
            @*<li @Html.Raw(Request.Url.AbsolutePath.Contains("Balance") ? @"class=""active""" : @"")><a href="@Url.Action("Balance", "Cabinet")"><i class="ico-money"></i>Баланс</a></li>*@
            <li @Html.Raw(Request.Url.AbsolutePath.Contains("MyPage") ? @"class=""active""" : @"")><a href="@Url.Action("MyPage", "Cabinet")"><i class="ico-page"></i>Моя страница</a></li>
            <li @Html.Raw(Request.Url.AbsolutePath.Contains("Files") ? @"class=""active""" : @"")><a href="@Url.Action("Files", "Cabinet")"><i class="ico-files"></i>Мои файлы</a></li>
            @*<li><a><i class="ico-cart"></i>Магазин</a></li>*@
        </ul>
    </div>
</div>