@using Cure.DataAccess
@using Cure.WebSite.Models
@using (Html.BeginForm("ChildTab4", "Cabinet", FormMethod.Post, new
                        {
                            @id = "formChildTab4",
                            @class = "userdata-form js-validate"
                        }))
{
    <div class="forms-title top-0">Платежные системы</div>
    <div class="forms-line">
        <div class="forms-label">WebMoney</div>
        @Html.TextBox("webmoney", ((ChildVisualDetailed)(ViewBag.Profile)).FinWebmoney, new
        {
            @id = "webmoney",
            @placeholder = "Введите номер кошелька",
            @maxlength = "50",
            @class = "forms-input btm-10"
        })
        @Html.TextBox("webmoney2", ((ChildVisualDetailed)(ViewBag.Profile)).FinWebmoney2, new
        {
            @id = "webmoney2",
            @placeholder = "Введите номер кошелька",
            @maxlength = "50",
            @class = "forms-input btm-10"
        })
        @Html.TextBox("webmoney3", ((ChildVisualDetailed)(ViewBag.Profile)).FinWebmoney3, new
        {
            @id = "webmoney3",
            @placeholder = "Введите номер кошелька",
            @maxlength = "50",
            @class = "forms-input btm-10"
        })
        @Html.TextBox("webmoney4", ((ChildVisualDetailed)(ViewBag.Profile)).FinWebmoney4, new
        {
            @id = "webmoney4",
            @placeholder = "Введите номер кошелька",
            @maxlength = "50",
            @class = "forms-input"
        })
    </div>
    <div class="forms-line">
        <div class="forms-label">Яндекс-деньги</div>
        @Html.TextBox("yandexmoney", ((ChildVisualDetailed)(ViewBag.Profile)).FinYandexMoney, new
        {
            @id = "yandexmoney",
            @placeholder = "Номер счета",
            @maxlength = "50",
            @class = "forms-input"
        })
    </div>
    <div class="forms-line">
        <div class="forms-label">Киви</div>
        @Html.TextBox("kiwi", ((ChildVisualDetailed)(ViewBag.Profile)).FinKiwi, new
        {
            @id = "kiwi",
            @placeholder = "Номер счета",
            @maxlength = "50",
            @class = "forms-input"
        })
    </div>
    <div class="forms-title">Платежи на телефон</div>
    <div class="forms-label">Оператор</div>
    <div class="forms-line">
        <div class="selector forms-selector">
            @Html.Hidden("finoperator", ((ChildVisualDetailed)(ViewBag.Profile)).FinOperatorId, new { id = "operator" })
            <div class="selector-val" data-val="@Html.Raw(((ChildVisualDetailed)(ViewBag.Profile)).FinOperatorId == null ? 0 : ((int)(((ChildVisualDetailed)(ViewBag.Profile)).FinOperatorId)))">
                @if (((ChildVisualDetailed)(ViewBag.Profile)).FinOperatorId == null)
                {
                    <text>
                        Не выбрано
                    </text>
                }
                else
                {
                    foreach (var oper in (IEnumerable<RefOperator>)ViewBag.Operators)
                    {
                        if (oper.Id == (((ChildVisualDetailed)(ViewBag.Profile)).FinOperatorId == null ? 0 : ((int)(((ChildVisualDetailed)(ViewBag.Profile)).FinOperatorId))))
                        {
                            @oper.Name
                        }
                    }
                }
            </div>
            <ul class="selector-list">
                <li data-val="0">Не нашёл в списке</li>
                @foreach (RefOperator oper in ViewBag.Operators)
                {
                    <li data-val="@oper.Id">@oper.Name</li>
                }
            </ul>
        </div>
    </div>
    <div class="forms-line">
        <div class="forms-label">Номер</div>
        @Html.TextBox("fintelephone", ((ChildVisualDetailed)(ViewBag.Profile)).FinPhoneNumber, new
        {
            @id = "fintelephone",
            @placeholder = "Номер телефона",
            @maxlength = "50",
            @class = "forms-input"
        })
    </div>
    <div class="forms-label">Оператор2</div>
    <div class="forms-line">
        <div class="selector forms-selector">
            @Html.Hidden("finoperator2", ((ChildVisualDetailed)(ViewBag.Profile)).FinOperator2Id, new { id = "operator2" })
            <div class="selector-val" data-val="@Html.Raw(((ChildVisualDetailed)(ViewBag.Profile)).FinOperator2Id == null ? 0 : ((int)(((ChildVisualDetailed)(ViewBag.Profile)).FinOperator2Id)))">
                @if (((ChildVisualDetailed)(ViewBag.Profile)).FinOperator2Id == null)
                {
                    <text>
                        Не выбрано
                    </text>
                }
                else
                {
                    foreach (var oper in (IEnumerable<RefOperator>)ViewBag.Operators)
                    {
                        if (oper.Id == (((ChildVisualDetailed)(ViewBag.Profile)).FinOperator2Id == null ? 0 : ((int)(((ChildVisualDetailed)(ViewBag.Profile)).FinOperator2Id))))
                        {
                            @oper.Name
                        }
                    }
                }
            </div>
            <ul class="selector-list">
                <li data-val="0">Не нашёл в списке</li>
                @foreach (RefOperator oper in ViewBag.Operators)
                {
                    <li data-val="@oper.Id">@oper.Name</li>
                }
            </ul>
        </div>
    </div>
    <div class="forms-line">
        <div class="forms-label">Номер2</div>
        @Html.TextBox("fintelephone2", ((ChildVisualDetailed)(ViewBag.Profile)).FinPhoneNumber2, new
        {
            @id = "fintelephone2",
            @placeholder = "Номер телефона",
            @maxlength = "50",
            @class = "forms-input"
        })
    </div>
    <div class="forms-label">Оператор3</div>
    <div class="forms-line">
        <div class="selector forms-selector">
            @Html.Hidden("finoperator3", ((ChildVisualDetailed)(ViewBag.Profile)).FinOperator3Id, new { id = "operator3" })
            <div class="selector-val" data-val="@Html.Raw(((ChildVisualDetailed)(ViewBag.Profile)).FinOperator3Id == null ? 0 : ((int)(((ChildVisualDetailed)(ViewBag.Profile)).FinOperator3Id)))">
                @if (((ChildVisualDetailed)(ViewBag.Profile)).FinOperator3Id == null)
                {
                    <text>
                        Не выбрано
                    </text>
                }
                else
                {
                    foreach (var oper in (IEnumerable<RefOperator>)ViewBag.Operators)
                    {
                        if (oper.Id == (((ChildVisualDetailed)(ViewBag.Profile)).FinOperator3Id == null ? 0 : ((int)(((ChildVisualDetailed)(ViewBag.Profile)).FinOperator3Id))))
                        {
                            @oper.Name
                        }
                    }
                }
            </div>
            <ul class="selector-list">
                <li data-val="0">Не нашёл в списке</li>
                @foreach (RefOperator oper in ViewBag.Operators)
                {
                    <li data-val="@oper.Id">@oper.Name</li>
                }
            </ul>
        </div>
    </div>
    <div class="forms-line">
        <div class="forms-label">Номер3</div>
        @Html.TextBox("fintelephone3", ((ChildVisualDetailed)(ViewBag.Profile)).FinPhoneNumber3, new
        {
            @id = "fintelephone3",
            @placeholder = "Номер телефона",
            @maxlength = "50",
            @class = "forms-input"
        })
    </div>
    <div class="forms-label">Оператор4</div>
    <div class="forms-line">
        <div class="selector forms-selector">
            @Html.Hidden("finoperator4", ((ChildVisualDetailed)(ViewBag.Profile)).FinOperator4Id, new { id = "operator4" })
            <div class="selector-val" data-val="@Html.Raw(((ChildVisualDetailed)(ViewBag.Profile)).FinOperator4Id == null ? 0 : ((int)(((ChildVisualDetailed)(ViewBag.Profile)).FinOperator4Id)))">
                @if (((ChildVisualDetailed)(ViewBag.Profile)).FinOperator4Id == null)
                {
                    <text>
                        Не выбрано
                    </text>
                }
                else
                {
                    foreach (var oper in (IEnumerable<RefOperator>)ViewBag.Operators)
                    {
                        if (oper.Id == (((ChildVisualDetailed)(ViewBag.Profile)).FinOperator4Id == null ? 0 : ((int)(((ChildVisualDetailed)(ViewBag.Profile)).FinOperator4Id))))
                        {
                            @oper.Name
                        }
                    }
                }
            </div>
            <ul class="selector-list">
                <li data-val="0">Не нашёл в списке</li>
                @foreach (RefOperator oper in ViewBag.Operators)
                {
                    <li data-val="@oper.Id">@oper.Name</li>
                }
            </ul>
        </div>
    </div>
    <div class="forms-line">
        <div class="forms-label">Номер4</div>
        @Html.TextBox("fintelephone4", ((ChildVisualDetailed)(ViewBag.Profile)).FinPhoneNumber4, new
        {
            @id = "fintelephone4",
            @placeholder = "Номер телефона",
            @maxlength = "50",
            @class = "forms-input"
        })
    </div>
    @*<div class="forms-title">Банковская карта</div>
    <div class="forms-line">
        <div class="forms-label">Страна</div>
        <div class="selector forms-selector" id="fincountries">
            @Html.Hidden("fincountry", ((ChildVisualDetailed)(ViewBag.Profile)).FinCountryId, new { id = "fincountry" })
            <div class="selector-val" data-val="1">Российская Федерация</div>
            <ul class="selector-list">
                @foreach (RefCountry country in ViewBag.Countries)
                {
                    <li data-val="@country.Id">@country.Name</li>
                }
            </ul>
        </div>
    </div>
    <div class="forms-line">
        <div class="forms-label">Банк</div>
        <div class="selector forms-selector">
            @Html.Hidden("bank", ((ChildVisualDetailed)(ViewBag.Profile)).FinBankId, new { id = "bank" })
            <div class="selector-val" data-val="0" id="finbanktext">Другой банк</div>
            <ul class="selector-list" id="finbanks">
                <li data-val="0">Другой банк</li>
                @foreach (RefBank bank in ViewBag.CountryBanks)
                {
                    <li data-val="@bank.Id">@bank.Name</li>
                }
            </ul>
        </div>
    </div>*@
    <div class="forms-line">
        <div class="forms-label">Банковские реквизиты</div>
        @Html.TextArea("bankother", ((ChildVisualDetailed)(ViewBag.Profile)).FinBankOther, new
        {
            @id = "bankother",
            @placeholder = "Введите необходимые для перевода средств реквизиты",
            @maxlength = "500",
            @rows = "15",
            @class = "forms-input"
        })
    </div>
    @*<div class="forms-line">
        <div class="forms-label">Номер карты</div>
        @Html.TextBox("cardnumber", ((ChildVisualDetailed)(ViewBag.Profile)).FinCardNumber, new
        {
            @id = "cardnumber",
            @placeholder = "Введите номер карты",
            @maxlength = "50",
            @class = "forms-input"
        })
    </div>
    <div class="forms-line">
        <div class="forms-label">Имя на карте</div>
        @Html.TextBox("cardname", ((ChildVisualDetailed)(ViewBag.Profile)).FinCardName, new
        {
            @id = "cardname",
            @placeholder = "Имя с карты",
            @maxlength = "50",
            @class = "forms-input"
        })
    </div>*@
    <div class="forms-line top-30">
        <input class="btn btn-orang" type="submit" value="Сохранить">
    </div>
    <div id="uploadprogress4">
    </div>
    <div id="error-tab4" class="form-errors"></div>
}