@using Cure.WebSite.Models
@model Cure.WebSite.Models.ChildVisualDetailed

@foreach (PhotoItem photo in Model.PhotoItemLst)
{
    <div class="col-lg-4 col-ss-6 images-tile-item @Html.Raw(Model.HiddenPhotoLst.Any(x => x.FileName == Path.GetFileName(photo.UrlOriginal)) ? "is-disabled" : "is-enabled")">
        <div class="tile-img">
            <a class="tile-link" role="button">
                <img src="@photo.UrlMin" alt="@Model.Name">
            </a>
        </div>
        <div class="tile-nav">
            @*<a class="btn-tile-toggle is-enabled js-images-tile-toggle" role="button" title="Скрыть/Показывать"></a>
                <a class="btn-tile-delete" role="button" title="Удалить"></a>*@
            @*<div class="tile-nav-left">
                    <label class="forms-checkbox">
                        <input type="checkbox" checked>
                        <span>Фото профиля</span>
                    </label>
                </div>*@
            @if (Model.AvaFileName != Path.GetFileName(photo.UrlOriginal))
            {
                <div class="tile-nav-right">
                    <a class="btn-tile-toggle @Html.Raw(Model.HiddenPhotoLst.Any(x => x.FileName == Path.GetFileName(photo.UrlOriginal)) ? "is-disabled" : "is-enabled") js-images-tile-toggle"
                       onclick="javascript:HideShowPicture(@Model.Id, '@Html.Raw(Path.GetFileName(photo.UrlOriginal))');"
                       role="button" title="@Html.Raw(Model.HiddenPhotoLst.Any(x => x.FileName == Path.GetFileName(photo.UrlOriginal)) ? "Показывать" : "Скрыть")"></a>
                    <a class="btn-tile-delete" role="button"
                       onclick="javascript:DeletePicture(@Model.Id, '@Html.Raw(Path.GetFileName(photo.UrlOriginal))');"></a>
                </div>
            }
            @if (Model.HiddenPhotoLst.All(x => x.FileName != Path.GetFileName(photo.UrlOriginal)))
            {
                <div class="tile-nav-left">
                    <label class="forms-checkbox">
                        <input type="checkbox" @Html.Raw(Model.AvaFileName == Path.GetFileName(photo.UrlOriginal) ? "checked" : "")
                               onclick="javascript:TopPicture(@Model.Id, '@Html.Raw(Path.GetFileName(photo.UrlOriginal))');">
                        <span>Фото профиля</span>
                    </label>
                </div>

            }

        </div>
    </div>
}
