@using Cure.DataAccess
@model string
<div class="all-pages-head">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="all-pages-H1">@Model</h1>
        </div>
        <div class="col-lg-6">
            <div class="head-info mob-md-mw-313">
                <div class="head-money">
                    <span class="txt-data">1</span>
                    <span class="txt-note">юань</span>
                    <span class="txt-data">=</span>
                    <span class="txt-data">@Html.Raw(ViewBag.CurrencyRateCNY)</span>
                    <span class="txt-note">руб</span>
                </div>
                <div class="head-weather">
                    <span class="txt-note">В юнчене</span>
                    <span class="txt-data">@Html.Raw(DateTime.Now.AddHours(5).ToString("HH:mm"))</span>
                    <span class="txt-data">@Html.Raw(((List<Weather>)ViewBag.Weathers)[2].Temp > 0 ? "+" : "")@Html.Raw(((List<Weather>)ViewBag.Weathers)[2].Temp)&#176;</span>
                    <span class="txt-note">@Html.Raw(((List<Weather>)ViewBag.Weathers)[2].Description)</span>
                </div>
            </div>
        </div>
    </div>
</div><!-- END all-pages-head -->