@model SocialLinksModel
@using Cure.WebSite.Models
@using (Html.BeginForm("ChildTab3", "Cabinet", FormMethod.Post, new
                        {
                            @id = "formChildTab3",
                            @class = "userdata-form js-validate"
                        }))
{
    <div class="forms-line">
        <div class="forms-label">Одноклассники</div>
        @Html.TextBoxFor(x => Model.SocialOk, new
        {
            @id = "socialok",
            @maxlength = "250",
            @class = "forms-input",
            @placeholder = "введите ссылку на страницу"
        })
        <div class="form-errors">
            @Html.ValidationMessageFor(x => Model.SocialOk)
        </div>
    </div>
    <div class="forms-line">
        <div class="forms-label">ВКонтакте</div>
        @Html.TextBoxFor(x => Model.SocialVk, new
        {
            @id = "socialvk",
            @maxlength = "250",
            @class = "forms-input",
            @placeholder = "введите ссылку на страницу"
        })
        <div class="form-errors">
            @Html.ValidationMessageFor(x => Model.SocialVk)
        </div>
    </div>
    <div class="forms-line">
        <div class="forms-label">МОЙ МИР@Mail.ru</div>
        @Html.TextBoxFor(x => Model.SocialMm, new
        {
            @id = "socialmm",
            @maxlength = "250",
            @class = "forms-input",
            @placeholder = "введите ссылку на страницу"
        })
        <div class="form-errors">
            @Html.ValidationMessageFor(x => Model.SocialMm)
        </div>
    </div>
    <div class="forms-line">
        <div class="forms-label">facebook</div>
        @Html.TextBoxFor(x => Model.SocialFb, new
        {
            @id = "socialfb",
            @maxlength = "250",
            @class = "forms-input",
            @placeholder = "введите ссылку на страницу"
        })
        <div class="form-errors">
            @Html.ValidationMessageFor(x => Model.SocialFb)
        </div>
    </div>
    <div class="forms-line">
        <div class="forms-label">instagram</div>
        @Html.TextBoxFor(x => Model.SocialYoutube, new
        {
            @id = "socialyoutube",
            @maxlength = "250",
            @class = "forms-input",
            @placeholder = "введите ссылку на страницу"
        })
        <div class="form-errors">
            @Html.ValidationMessageFor(x => Model.SocialYoutube)
        </div>
    </div>
    <div class="forms-line top-30">
        <input class="btn btn-orang" type="submit" value="Сохранить">
    </div>
    <div id="uploadprogress3">
    </div>
    <div id="error-tab3" class="form-errors"></div>
}