@using Cure.DataAccess

<div class="row">
        <div class="col-md-3 col-ss-6">
            <div class="selector">
                @Html.Hidden("filtercountry", 0, new { id = "filtercountry" })
                <div class="selector-val" data-val="0">Все страны</div>
                <ul class="selector-list">
                    <li data-val="0">Все страны</li>
                    @foreach (RefCountry country in ViewBag.Countries)
                    {
                        <li data-val="@country.Id">@country.Name</li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-ss-6">
            <div class="selector">
                @Html.Hidden("filterregion", 0, new { id = "filterregion" })
                <div class="selector-val" data-val="0">Все регионы</div>
                <ul class="selector-list">
                    <li data-val="0">Все регионы</li>
                    @foreach (string region in ViewBag.Regions)
                    {
                        <li data-val="@region">@region</li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-ss-6">
            <div class="selector">
                @Html.Hidden("filterage", 0, new { id = "filterage" })
                <div class="selector-val" data-val="0">Любой возраст</div>
                <ul class="selector-list">
                    <li data-val="0">Любой возраст</li>
                    <li data-val="1">0-3 лет</li>
                    <li data-val="2">3-5 лет</li>
                    <li data-val="3">5-8 лет</li>
                    <li data-val="4">8-12 лет</li>
                    <li data-val="5">12 и более</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-ss-6">
            <div class="selector">
                @Html.Hidden("filterdiagnoze", 0, new { id = "filterdiagnoze" })
                <div class="selector-val" data-val="0">Любой диагноз</div>
                <ul class="selector-list">
                    <li data-val="0">Любой диагноз</li>                    
                    @foreach (RefDiagnoz diagnoze in ViewBag.Diagnozes)
                    {
                        <li data-val="@diagnoze.Id">@diagnoze.Name</li>
                    }
                </ul>
            </div>
        </div>
    </div>
