<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
<head>
    <title>@ViewBag.Title - Наши дети. Лечение ДЦП в Китае</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="лечение ДЦП, лечение ДЦП в Китае">
    <meta name="description" content="Реабилитация и лечение ДЦП в городе Юньчэн Китай | Лечения ДЦП, аутизма, задержка речи, в городе Юньчэн, Китай">
    <meta property="og:url" content="http://mysite.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Наши дети. Лечение ДЦП в Китае">
    <meta property="og:image" content="http://mysite.com/logo_big.png">
    <meta property="og:site_name" content="Наши дети. Лечение ДЦП в Китае">
    <meta property="og:description" content="Реабилитация и лечение ДЦП в городе Юньчэн Китай | Лечения ДЦП, аутизма, задержка речи, в городе Юньчэн, Китай">
    <link rel="icon" type="img/png" href="img/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="img/png" href="img/favicon-32x32.png" sizes="32x32" />
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-152x152.png" sizes="152x152" />
    <link rel="stylesheet" href="css/styles.css" />
    <!--[if lte IE 9]>
      <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <![endif]-->
</head>

<body>
    <!--[if lte IE 9]>
      <div class="stop-browser-modal">
        Вы используете очень <strong>устаревший</strong> браузер, котороый не<br>
        обеспечивает безошибочную работу современных сайтов.<br> Пожалуйста,
        <a href="http://browsehappy.com/">обновите ваш браузер</a><br>
        для получения возможности полноценно пользоваться интернетом.
      </div>
    <![endif]-->
    <noscript>
        <div class="stop-browser-modal">
            <strong>JavaScript seems to be disabled in your browser.</strong><br>
            You must have JavaScript enabled in your browser to utilize the functionality of this website.
        </div>
    </noscript>

    <div class="preloader">
        <img src="img/preloader.gif" alt="Preloader">
    </div>

    <div class="wrapper">
        <header class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <a class="header-top-mobbtn js-toggle-menu"><span class="lines"></span></a>
                        <div class="header-top-logo">
                            <a href="http://www.dcp-china.ru" title="Наша клиника: основной сайт">
                                <img src="img/logo_long.png" alt="Наша клиника">
                            </a>
                        </div>
                        <div class="header-top-btns">
                            <a class="header-top-search">Поиск</a>
                            <!-- <a class="header-top-login">Кабинет</a> -->
                            <div class="header-top-user">
                                <div class="user-img">
                                    <img src="images/users/header_user_1_32x32.jpg" alt="Валентина Евдокимова">
                                </div>
                                <div class="user-name">Валентина Евдокимова</div>
                            </div>
                        </div>
                        <nav class="header-top-nav" role="navigation">
                            <ul class="header-top-menu">
                                <li><a href="#">Клиники</a></li>
                                <li><a href="#">Процедуры</a></li>
                                <li><a href="#">Лекарства</a></li>
                                <li class="active"><a href="#">Наши дети</a></li>
                                <li><a href="#">Документы</a></li>
                                <li><a href="#">Отзывы</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <div class="main children-page" role="main">
            <div class="container">
                <div class="all-pages-head">
                    <div class="row">
                        <div class="col-lg-3">
                            <h1 class="all-pages-H1">Наши дети</h1>
                        </div>
                        <div class="col-lg-9">
                            <div class="children-page-filter">
                                <form>
                                    <div class="row">
                                        <div class="col-md-3 col-ss-6">
                                            <div class="selector">
                                                <input type="hidden" value="0">
                                                <div class="selector-val" data-val="0">Все страны</div>
                                                <ul class="selector-list">
                                                    <li data-val="0">Все страны</li>
                                                    <li data-val="1">Россия</li>
                                                    <li data-val="2">Украина</li>
                                                    <li data-val="3">Казахстан</li>
                                                    <li data-val="4">Беларусь</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-ss-6">
                                            <div class="selector">
                                                <input type="hidden" value="0">
                                                <div class="selector-val" data-val="0">Все города</div>
                                                <ul class="selector-list">
                                                    <li data-val="0">Все города</li>
                                                    <li data-val="1">Москва</li>
                                                    <li data-val="2">Санкт-Петербург</li>
                                                    <li data-val="3">Барнаул</li>
                                                    <li data-val="4">Брянск</li>
                                                    <li data-val="5">Волгоград</li>
                                                    <li data-val="6">Вологда</li>
                                                    <li data-val="7">Воронеж</li>
                                                    <li data-val="8">Геленджик</li>
                                                    <li data-val="9">Екатеринбург</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-ss-6">
                                            <div class="selector">
                                                <input type="hidden" value="0">
                                                <div class="selector-val" data-val="0">Любой возраст</div>
                                                <ul class="selector-list">
                                                    <li data-val="0">Любой возраст</li>
                                                    <li data-val="1">Россия</li>
                                                    <li data-val="2">Украина</li>
                                                    <li data-val="3">Казахстан</li>
                                                    <li data-val="4">Беларусь</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-ss-6">
                                            <div class="selector">
                                                <input type="hidden" value="0">
                                                <div class="selector-val" data-val="0">Любой диагноз</div>
                                                <ul class="selector-list">
                                                    <li data-val="0">Любой диагноз</li>
                                                    <li data-val="1">Россия</li>
                                                    <li data-val="2">Украина</li>
                                                    <li data-val="3">Казахстан</li>
                                                    <li data-val="4">Беларусь</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="children-page-list">
                    <div class="row" id="js-for-load-children">
                        <div class="col-lg-3 col-sm-4 col-ss-6 children-page-item js-ajax-for-count">
                            <a class="children-page-child" href="#">
                                <img class="child-img" src="images/children/children_1.jpg" alt="Дима">
                                <div class="child-txt">
                                    <div class="child-name">Дима,<span class="child-age">11 лет</span></div>
                                    <div class="child-city">Россия, Сыктывкар</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-ss-6 children-page-item js-ajax-for-count">
                            <a class="children-page-child" href="#">
                                <img class="child-img" src="images/children/children_2.jpg" alt="Стас">
                                <div class="child-txt">
                                    <div class="child-name">Стас,<span class="child-age">6 лет</span></div>
                                    <div class="child-city">Украина, Харьков</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-ss-6 children-page-item js-ajax-for-count">
                            <a class="children-page-child" href="#">
                                <img class="child-img" src="images/children/children_3.jpg" alt="Костя">
                                <div class="child-txt">
                                    <div class="child-name">Костя, <span class="child-age">10 лет</span></div>
                                    <div class="child-city">Россия, Пенза</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-ss-6 children-page-item js-ajax-for-count">
                            <a class="children-page-child" href="#">
                                <img class="child-img" src="images/children/children_4.jpg" alt="Света">
                                <div class="child-txt">
                                    <div class="child-name">Света, <span class="child-age">5 лет</span></div>
                                    <div class="child-city">Украина, Запорожье</div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-6 col-sm-8 col-ss-12 children-page-item">
                            <div class="children-page-review">
                                <div class="review-front">
                                    <div class="review-text">
                                        Каждому пациенту применяется индивидуальный подход и назначается лечение в
                                        зависимости от формы заболевания и степени его тяжести, уровни расстройства
                                        двигательной функции, степени умственной<br>и речевой функции и т.д.
                                    </div>
                                    <div class="review-writer">
                                        <span class="writer-name">Альбина</span>,
                                        <span class="writer-city">Казахстан, Кустанай</span>
                                    </div>
                                    <div class="review-more">
                                        <a class="btn-light" href="#">Все отзывы</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-ss-6 children-page-item js-ajax-for-count">
                            <a class="children-page-child" href="#">
                                <img class="child-img" src="images/children/children_5.jpg" alt="Вика">
                                <div class="child-txt">
                                    <div class="child-name">Вика, <span class="child-age">8 лет</span></div>
                                    <div class="child-city">Россия, Ярославская область</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-ss-6 children-page-item js-ajax-for-count">
                            <a class="children-page-child" href="#">
                                <img class="child-img" src="images/children/children_6.jpg" alt="Света">
                                <div class="child-txt">
                                    <div class="child-name">Казыбек, <span class="child-age">10 лет</span></div>
                                    <div class="child-city">Казахстан, Астана</div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-4 col-ss-6 children-page-item js-ajax-for-count">
                            <a class="children-page-child" href="#">
                                <img class="child-img" src="images/children/children_5.jpg" alt="Вика">
                                <div class="child-txt">
                                    <div class="child-name">Вика, <span class="child-age">8 лет</span></div>
                                    <div class="child-city">Россия, Ярославская область</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-ss-6 children-page-item js-ajax-for-count">
                            <a class="children-page-child" href="#">
                                <img class="child-img" src="images/children/children_6.jpg" alt="Света">
                                <div class="child-txt">
                                    <div class="child-name">Казыбек, <span class="child-age">10 лет</span></div>
                                    <div class="child-city">Казахстан, Астана</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-sm-8 col-ss-12 children-page-item">
                            <div class="children-page-review">
                                <div class="review-front">
                                    <div class="review-text">
                                        Каждому пациенту применяется индивидуальный подход и назначается лечение в
                                        зависимости от формы заболевания и степени его тяжести, уровни расстройства
                                        двигательной функции, степени умственной<br>и речевой функции и т.д.
                                    </div>
                                    <div class="review-writer">
                                        <span class="writer-name">Альбина</span>,
                                        <span class="writer-city">Казахстан, Кустанай</span>
                                    </div>
                                    <div class="review-more">
                                        <a class="btn-light" href="#">Все отзывы</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-4 col-ss-6 children-page-item js-ajax-for-count">
                            <a class="children-page-child" href="#">
                                <img class="child-img" src="images/children/children_1.jpg" alt="Дима">
                                <div class="child-txt">
                                    <div class="child-name">Дима,<span class="child-age">11 лет</span></div>
                                    <div class="child-city">Россия, Сыктывкар</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-ss-6 children-page-item js-ajax-for-count">
                            <a class="children-page-child" href="#">
                                <img class="child-img" src="images/children/children_2.jpg" alt="Стас">
                                <div class="child-txt">
                                    <div class="child-name">Стас,<span class="child-age">6 лет</span></div>
                                    <div class="child-city">Украина, Харьков</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-ss-6 children-page-item js-ajax-for-count">
                            <a class="children-page-child" href="#">
                                <img class="child-img" src="images/children/children_3.jpg" alt="Костя">
                                <div class="child-txt">
                                    <div class="child-name">Костя, <span class="child-age">10 лет</span></div>
                                    <div class="child-city">Россия, Пенза</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-ss-6 children-page-item js-ajax-for-count">
                            <a class="children-page-child" href="#">
                                <img class="child-img" src="images/children/children_4.jpg" alt="Света">
                                <div class="child-txt">
                                    <div class="child-name">Света, <span class="child-age">5 лет</span></div>
                                    <div class="child-city">Украина, Запорожье</div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-6 col-sm-8 col-ss-12 children-page-item">
                            <div class="children-page-review">
                                <div class="review-front">
                                    <div class="review-text">
                                        Каждому пациенту применяется индивидуальный подход и назначается лечение в
                                        зависимости от формы заболевания и степени его тяжести, уровни расстройства
                                        двигательной функции, степени умственной<br>и речевой функции и т.д.
                                    </div>
                                    <div class="review-writer">
                                        <span class="writer-name">Альбина</span>,
                                        <span class="writer-city">Казахстан, Кустанай</span>
                                    </div>
                                    <div class="review-more">
                                        <a class="btn-light" href="#">Все отзывы</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-ss-6 children-page-item js-ajax-for-count">
                            <a class="children-page-child" href="#">
                                <img class="child-img" src="images/children/children_5.jpg" alt="Вика">
                                <div class="child-txt">
                                    <div class="child-name">Вика, <span class="child-age">8 лет</span></div>
                                    <div class="child-city">Россия, Ярославская область</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-ss-6 children-page-item js-ajax-for-count">
                            <a class="children-page-child" href="#">
                                <img class="child-img" src="images/children/children_6.jpg" alt="Света">
                                <div class="child-txt">
                                    <div class="child-name">Казыбек, <span class="child-age">10 лет</span></div>
                                    <div class="child-city">Казахстан, Астана</div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-4 col-ss-6 children-page-item js-ajax-for-count">
                            <a class="children-page-child" href="#">
                                <img class="child-img" src="images/children/children_5.jpg" alt="Вика">
                                <div class="child-txt">
                                    <div class="child-name">Вика, <span class="child-age">8 лет</span></div>
                                    <div class="child-city">Россия, Ярославская область</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-ss-6 children-page-item js-ajax-for-count">
                            <a class="children-page-child" href="#">
                                <img class="child-img" src="images/children/children_6.jpg" alt="Света">
                                <div class="child-txt">
                                    <div class="child-name">Казыбек, <span class="child-age">10 лет</span></div>
                                    <div class="child-city">Казахстан, Астана</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-sm-8 col-ss-12 children-page-item">
                            <div class="children-page-review">
                                <div class="review-front">
                                    <div class="review-text">
                                        Каждому пациенту применяется индивидуальный подход и назначается лечение в
                                        зависимости от формы заболевания и степени его тяжести, уровни расстройства
                                        двигательной функции, степени умственной<br>и речевой функции и т.д.
                                    </div>
                                    <div class="review-writer">
                                        <span class="writer-name">Альбина</span>,
                                        <span class="writer-city">Казахстан, Кустанай</span>
                                    </div>
                                    <div class="review-more">
                                        <a class="btn-light" href="#">Все отзывы</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-ss-12">
                            <div class="all-pages-more">
                                <div class="more-title">
                                    Позаканы <span id="more-count">16</span> из <span id="more-all">134</span>
                                </div>
                                <div class="more-btn">
                                    <a class="btn-light has-loading js-load-more-children">Показать еще</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- END container -->

        </div><!-- END main -->
    </div><!-- END main-wrapper -->

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-7">
                    Мы принимаем пациентов с 2010 года. Лечение организовано на базе двух государственных больниц
                    города Юньчэн. Все доктора и инструкторs - штатные сотрудники больницы. Имеют высокую квалификацию
                    по реабилитации пациентов с ДЦП, проходят курсы повышения квалификации и совершенствуют свои навыки.
                </div>
                <div class="col-md-4 col-sm-5">
                    <div class="footer-seti-title">Мы в социальных сетях</div>
                    <ul class="footer-seti-list">
                        <li><a class="vk" href="#" title="В контакте"><i class="fa fa-vk"></i></a></li>
                        <li><a class="ok" href="#" title="Одноклассники"><i class="fa fa-odnoklassniki"></i></a></li>
                        <li><a class="fb" href="#" title="Фейсбук"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="yt" href="#" title="Ютуб"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="footer-copy">&copy; 2014-2016 Все права защищены.</div>
                </div>
                <div class="col-sm-6">
                    <div class="footer-counters">
                        <div class="footer-counter">
                            <img src="images/temp/counter_4.png" alt="Счетчик">
                        </div>
                        <div class="footer-counter">
                            <img src="images/temp/counter_3.png" alt="Счетчик">
                        </div>
                        <div class="footer-counter">
                            <img src="images/temp/counter_1.png" alt="Счетчик">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="scroll-top js-scroll-top" title="Вверх"></a>
    </footer>

    <!-- jquery cdn        -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!-- if no google cdn  -->
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>');</script>
    <!-- viewport checker      <script src="js/plugins/jquery.viewportchecker.min.js"></script> -->
    <!-- content slider    -->
    <script src="js/plugins/slick.min.js"></script>
    <!-- form input masks  -->
    <script src="js/plugins/jquery.maskedinput.min.js"></script>
    <!-- form validate     -->
    <script src="js/plugins/jquery.validate.min.js"></script>
    <!-- main scripts      -->
    <script src="js/jquery.ndeti.js"></script>

</body>
</html>



@*<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>*@