
<nav class="header-nav" role="navigation">
    <ul class="header-menu">
        <li><a href="#">Клиники</a></li>
        <li @Html.Raw(Request.Url.AbsolutePath.Contains("Procedure") || Request.Url.AbsolutePath.Contains("Medicine") ? @"class=""active""" : @"")><a href="@Url.Action("Index", "Procedure")">Процедуры и препараты</a></li>
        <li @Html.Raw(Request.Url.AbsolutePath.Contains("Children") ? @"class=""active""" : @"")><a href="@Url.Action("Index", "Children")">Наши дети</a></li>
        <li><a class="js-megamenu-open" data-menu="megamenu-useful" role="button">Полезное</a></li>
        <li @Html.Raw(Request.Url.AbsolutePath.Contains("AboutUs") ? @"class=""active""" : @"")><a href="@Url.Action("AboutUs", "Home")">О нас</a></li>
        <li @Html.Raw(Request.Url.AbsolutePath.Contains("Price") ? @"class=""active""" : @"")><a href="@Url.Action("Price", "Home")">Цены</a></li>
        <li @Html.Raw(Request.Url.AbsolutePath.Contains("Mension") ? @"class=""active""" : @"")><a href="@Url.Action("Index", "Mension")">Отзывы</a></li>
    </ul>
</nav>