
<div class="megamenu" id="megamenu-useful">
    <div class="megamenu-back js-megamenu-close"></div>
    <div class="megamenu-front">
        <a class="megamenu-close js-megamenu-close" role="button"></a>
        <div class="container">
            <div class="megamenu-col">
                <div class="megamenu-title">Лечение в Китае</div>
                <ul class="megamenu-list">
                    <li><a href="@Url.Action("Priglashenie", "China")">Вас пригласили на лечение</a></li>
                    <li><a href="@Url.Action("Visa", "China")">Оформление визы</a></li>
                    <li><a href="@Url.Action("Dobratsa", "China")">Как добраться до Юньченя</a></li>
                    <li><a href="@Url.Action("Support", "China")">Медицинское сопровождение</a></li>
                    <li><a href="@Url.Action("Details", "China")">Деньги, мобильная связь, продукты питания</a></li>
                    <li><a href="@Url.Action("Faq", "China")">Часто задаваемые вопросы</a></li>
                </ul>
            </div>
            <div class="megamenu-col">
                <div class="megamenu-title">Лечение в Севастополе</div>
                <ul class="megamenu-list">
                    <li><a href="@Url.Action("Priglashenie", "Sevastopol")">Вас пригласили на лечение</a></li>
                    <li><a href="@Url.Action("Dobratsa", "Sevastopol")">Как добраться до Севастополя</a></li>
                    <li><a href="@Url.Action("Support", "Sevastopol")">Медицинское сопровождение</a></li>
                    <li><a href="@Url.Action("Mobile", "Sevastopol")">Мобильная связь</a></li>
                    <li><a href="@Url.Action("Faq", "Sevastopol")">Часто задаваемые вопросы</a></li>
                </ul>
            </div>
            <div class="megamenu-col">
                <div class="megamenu-title">Материальная помощь</div>
                <ul class="megamenu-list">
                    <li><a href="@Url.Action("Find", "Finance")">Где и как искать помощь</a></li>
                    <li><a href="@Url.Action("Fonds", "Finance")">Список фондов по странам</a></li>
                    <li><a href="@Url.Action("Partners", "Finance")">Наши партнеры</a></li>
                </ul>
            </div>
            <div class="megamenu-col">
                <div class="megamenu-title">Библиотека</div>
                <ul class="megamenu-list">
                    <li><a href="@Url.Action("Procedures", "Biblioteka")">Физиопроцедуры: виды, методики</a></li>
                    <li><a href="@Url.Action("Tests", "Biblioteka")">Тесты на определение чего-либо</a></li>
                    <li><a href="@Url.Action("Metod", "Biblioteka")">Методика диагностики</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>