
<div class="megamenu" id="megamenu-useful">
    <div class="megamenu-back js-megamenu-close"></div>
    <div class="megamenu-front">
        <a class="megamenu-close js-megamenu-close" role="button"></a>
        <div class="container">
            <div class="megamenu-col">
                <div class="megamenu-title">Лечение в Китае</div>
                <ul class="megamenu-list">
                    <li><a href="@Url.Action("Priglashenie", "China")">Вас пригласили на лечение</a></li>
                    <li><a href="@Url.Action("Visa", "China")">Оформление визы</a></li>
                    <li><a href="@Url.Action("Dobratsa", "China")">Как добраться до Юньченя</a></li>
                    <li><a href="@Url.Action("Support", "China")">Медицинское сопровождение</a></li>
                    <li><a href="@Url.Action("Details", "China")">Деньги, мобильная связь, продукты питания</a></li>
					<li><a href="@Url.Action("Priglashenie", "Sevastopol")">Расходы на лечение в Китае</a></li>
					<li><a href="@Url.Action("Dobratsa", "Sevastopol")">Погода в Юньчэне</a></li>
                    <li><a href="@Url.Action("Faq", "China")">Часто задаваемые вопросы</a></li>
                </ul>
            </div>
            <!--  <div class="megamenu-col">
                <div class="megamenu-title"></div>
                <ul class="megamenu-list">
                    <li><a href="@Url.Action("Priglashenie", "Sevastopol")">Расходы на лечение в Китае</a></li>
                    <li><a href="@Url.Action("Dobratsa", "Sevastopol")">Погода в Юньчэне</a></li>
                  <li><a href="@Url.Action("Support", "Sevastopol")">Медицинское сопровождение</a></li>
                    <li><a href="@Url.Action("Mobile", "Sevastopol")">Мобильная связь</a></li> 
                    <li><a href="@Url.Action("Faq", "Sevastopol")">Часто задаваемые вопросы</a></li>
                </ul>
            </div>-->
            <div class="megamenu-col">
                <div class="megamenu-title">Материальная помощь</div>
                <ul class="megamenu-list">
                    <li><a href="@Url.Action("Find", "Finance")">Где и как искать помощь</a></li>
                    <li><a href="@Url.Action("Fonds", "Finance")">Список фондов</a></li>
                 <!--   <li><a href="@Url.Action("Partners", "Finance")">Наши партнеры</a></li>  -->
                </ul>
            </div>
            <div class="megamenu-col">
                <div class="megamenu-title">Библиотека</div>
                <ul class="megamenu-list">
                    <li><a href="@Url.Action("Procedures", "Biblioteka")">Лекарства в Китай</a></li>
                  <!--  <li><a href="@Url.Action("Tests", "Biblioteka")">Тесты на определение чего-либо</a></li>
                    <li><a href="@Url.Action("Metod", "Biblioteka")">Методика диагностики</a></li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="megamenu" id="megamenu-clinics">
    <div class="megamenu-back js-megamenu-close"></div>
    <div class="megamenu-front">
        <a class="megamenu-close js-megamenu-close" role="button"></a>
        <div class="container">
            <div class="megamenu-clinic">
                <div class="clinic-img">
                    <img src="~/Content/img/clinics/clinic_1.jpg" alt="Клиника">
                </div>
                <div class="clinic-txt">
                    <div class="clinic-name">Больница заболеваний головного мозга при НИИ акупунктуры головы</div>
                    <div class="clinic-note">г. Юньчен, КНР</div>
                </div>
                <a href="@Url.Action("Yancheng2", "Department")" class="clinic-link"></a>
            </div>
            <div class="megamenu-clinic">
                <div class="clinic-img">
                    <img src="~/Content/img/clinics/clinic_2.jpg" alt="Клиника">
                </div>
                <div class="clinic-txt">
                    <div class="clinic-name">2-я народная многопрофильная больница</div>
                    <div class="clinic-note">г. Юньчен, КНР</div>
                </div>
                <a href="@Url.Action("Yancheng1", "Department")" class="clinic-link"></a>
            </div>
            <!-- <div class="megamenu-clinic">
                <div class="clinic-img">
                    <img src="~/Content/img/clinics/clinic_3.jpg" alt="Клиника">
                </div>
                <div class="clinic-txt">
                    <div class="clinic-name">Детский реабилитационный центр “Мастерская здоровья”</div>
                    <div class="clinic-note">г. Севастополь, Россия</div>
                </div>
                <a href="@Url.Action("Sevastopol", "Department")" class="clinic-link"></a>
            </div>
            <div class="megamenu-clinic">
                <div class="clinic-img">
                    <img src="~/Content/img/clinics/clinic_4.jpg" alt="Клиника">
                </div>
                <div class="clinic-txt">
                    <div class="clinic-name">Детский реабилитационный центр “Нейролайф”</div>
                    <div class="clinic-note">г. Алматы, Казахстан</div>
                </div>
                <a href="@Url.Action("Almaata", "Department")" class="clinic-link"></a>
            </div> -->
        </div>
    </div>
</div>