@model IEnumerable<Cure.WebSite.Models.VisitInfoViewModel>

@using (Html.BeginForm("SaveStep3", "Cabinet", FormMethod.Post, new
{
    @id = "formOrderStep3",
    enctype = "multipart/form-data"
}))
{
    <h4 class="forms-heading">
        Чтобы определить возможность реабилитации и лечения в нашей больнице, просим <br>
        вас ответить на важные вопросы. Все поля не являются обязательными для заполнения.
    </h4>
    <div class="order-section" id="meddata">
        @for (int i = 0; i < Model.Count(); i++)
        {
            <h5 class="forms-subheading">@Html.Raw(i + 1)-й пациент @Html.Raw(Model.ToList()[i].Name)</h5>
            @Html.HiddenFor(m => Model.ToList()[i].Id)
            <div class="forms-line order-forms-line">
                <label class="forms-label">Диагноз пациента из последних выписок</label>
                @Html.TextAreaFor(x => Model.ToList()[i].TodaysDiagnoz, new { @class = "forms-text is-short" })
                @*<textarea class="forms-text is-short"></textarea>*@@*TodaysDiagnoz*@
            </div>
            <div class="forms-line order-forms-line">
                <label class="forms-label">
                    История болезни. Опишите подробно из медицинских документов: беременность,
                    роды, вес, АПГАР, ИВЛ, реанимация, обследование, лечение. Когда заметили у
                    ребенка проблемы, сопутствующие заболевания
                </label>
                @Html.TextAreaFor(x => Model.ToList()[i].HystoryA, new { @class = "forms-text" })
                @*<textarea class="forms-text"></textarea>*@@*HystoryA*@
            </div>
            <div class="forms-line order-forms-line">
                <label class="forms-label">Продолжительность заболевания</label>
                @Html.TextBoxFor(x => Model.ToList()[i].HystoryB, new { @class = "forms-input" })
                @*<input class="forms-input" type="text">*@@*Hystoryb*@
            </div>
            <div class="forms-line order-forms-line">
                <label class="forms-label">
                    Этапы физического развития с момента рождения <br>
                    (Когда начал держать голову, сидеть, ползать, стоять, ходить, и т д.)
                </label>
                @Html.TextAreaFor(x => Model.ToList()[i].Razvitie, new { @class = "forms-text" })
                @*<textarea class="forms-text"></textarea>*@@*Razvitie*@
            </div>
            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title">Состоит ребенок на психиатрическом диспансерном учете?</div>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].Dispanser, "Нет")
                        @*<input type="radio" name="radio-group-31" checked>*@<span>Нет</span>
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].Dispanser, "Да")
                        @*<input type="radio" name="radio-group-31">*@<span>Да</span>@*Dispanser*@
                    </label>
                </div>
            </div>
            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title">Состоит ребенок на наркологическом диспансерном учете?</div>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsDispanserNarko, "Нет")
                        @*<input type="radio" name="radio-group-32" checked>*@<span>Нет</span>@*DispanserNarko*@
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsDispanserNarko, "Да")
                        @*<input type="radio" name="radio-group-32">*@<span>Да</span>
                    </label>
                    <div class="forms-radiotwix-hidden">
                        <label class="forms-label">Опишите подробнее</label>
                        @Html.TextBoxFor(x => Model.ToList()[i].DispanserNarko, new { @class = "forms-input" })
                        @*<input class="forms-input" type="text">*@
                    </div>
                </div>
            </div>
            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title">Находится ли ребенок на кожно-венерологическом диспансерном учете?</div>@*Dispanser2*@
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].Dispanser2, "Нет")
                        @*<input type="radio" name="radio-group-33" checked>*@<span>Нет</span>
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].Dispanser2, "Да")
                        @*<input type="radio" name="radio-group-33">*@<span>Да</span>
                    </label>
                </div>
            </div>
            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title">Имеет ли опасные для здоровья заболевания?</div>@*DangerousDiseases*@
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].DangerousDiseases, "Нет")
                        @*<input type="radio" name="radio-group-34" checked>*@<span>Нет</span>
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].DangerousDiseases, "Да")
                        @*<input type="radio" name="radio-group-34">*@<span>Да</span>
                    </label>
                </div>
            </div>
            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title">Сердечно – сосудистые заболевания?</div>@*Serdce*@
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].Serdce, "Нет")
                        @*<input type="radio" name="radio-group-35" checked>*@<span>Нет</span>
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].Serdce, "Да")
                        @*<input type="radio" name="radio-group-35">*@<span>Да</span>
                    </label>
                </div>
            </div>
            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title">Заболевания дыхательной системы?</div>@*Dihalka*@
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].Dihalka, "Нет")
                        @*<input type="radio" name="radio-group-36" checked>*@<span>Нет</span>
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].Dihalka, "Да")
                        @*<input type="radio" name="radio-group-36">*@<span>Да</span>
                    </label>
                </div>
            </div>
            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title">Инфекционные заболевания?</div>@*Infections*@
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].Infections, "Нет")
                        @*<input type="radio" name="radio-group-37" checked>*@<span>Нет</span>
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].Infections, "Да")
                        @*<input type="radio" name="radio-group-37">*@<span>Да</span>
                    </label>
                </div>
            </div>
            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title">Другие опасные для здоровья и окружающих заболевания?</div>@*OtherDiseases*@
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].OtherDiseases, "Нет")
                        @*<input type="radio" name="radio-group-38" checked>*@<span>Нет</span>
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].OtherDiseases, "Да")
                        @*<input type="radio" name="radio-group-38">*@<span>Да</span>
                    </label>
                </div>
            </div>

            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title is-bigtitle">Имеются ли признаки эпилепсии, судороги?</div>@*Epilispiya*@
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].Epilispiya, "Нет")
                        @*<input type="radio" name="radio-group-39" checked>*@<span>Нет</span>
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].Epilispiya, "Да")
                        @*<input type="radio" name="radio-group-39">*@<span>Да</span>
                    </label>
                    <div class="forms-radiotwix-hidden">
                        <div class="forms-line order-forms-line">
                            <h5 class="forms-subheading">Информация для корректировки лечения по симптомам эпилепсии:</h5>@*SudorogiType*@
                            <label class="forms-label">
                                Опишите подробно приступы: тип, на фоне чего происходят, продолжительность и как протекают
                            </label>
                            @Html.TextAreaFor(x => Model.ToList()[i].SudorogiType, new { @class = "forms-text is-short" })
                            @*<textarea class="forms-text is-short"></textarea>*@
                        </div>
                        <div class="forms-line order-forms-line">
                            <label class="forms-label">Количество приступов в год  (Как часто: 2-3 раза в год,  раз в месяц, каждый день )</label>@*SudorogiCount*@
                            @Html.TextBoxFor(x => Model.ToList()[i].SudorogiCount, new { @class = "forms-input" })
                            @*<input class="forms-input" type="text">*@
                        </div>
                        <div class="forms-line order-forms-line">
                            <label class="forms-label">
                                Противосудорожные препараты: наименование, дозировка и продолжительность приема
                            </label>
                            @Html.TextAreaFor(x => Model.ToList()[i].SudorogiMedcine, new { @class = "forms-text is-short" })
                            @*<textarea class="forms-text is-short"></textarea>*@@*SudorogiMedcine*@
                        </div>
                        <div class="forms-line order-forms-line">
                            <label class="forms-label">Когда был последний приступ (месяц, год)</label>
                            @Html.TextBoxFor(x => Model.ToList()[i].Remission, new { @class = "forms-input" })
                            @*<input class="forms-input" type="text">*@@*Remission*@
                        </div>
                        <div class="forms-line order-forms-line">
                            <label class="forms-label">
                                Заключение ЭЭГ из выписки
                            </label>
                            @Html.TextAreaFor(x => Model.ToList()[i].Encefalogram, new { @class = "forms-text is-short" })
                            @*<textarea class="forms-text is-short"></textarea>*@@*Encefalogram*@
                        </div>
                        <div class="forms-line order-forms-line">
                            <label class="forms-label">Прикрепить тесктовой документ, сканированный документ, видео приступа (до 5 Мб)</label>
                            @Html.Partial("_OrderWizardStep3Files", (IEnumerable<string>)ViewBag.DocFiles)
                            <div class="forms-file has-icon-clip">
                                <div class="forms-file-msg">Прикрепить файл</div>
                                <input id="fileOrderUpload" name="fileOrderUpload" type="file">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <h4 class="forms-heading">Краткая история лечения</h4>
            <div class="forms-note">Данная информация позволит докторам учесть пройдённое ранее лечение</div>
            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title">Какое ранее проводилось лечение по Вашему заболеванию и где? Его результаты</div>@*KursesRanee*@
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsKursesRanee, "Нет")
                        @*<input type="radio" name="radio-group-301" checked>*@<span>Нет</span>
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsKursesRanee, "Да")
                        @*<input type="radio" name="radio-group-302">*@<span>Да</span>
                    </label>
                    <div class="forms-radiotwix-hidden">
                        <label class="forms-label">Опишите подробнее</label>
                        @Html.TextBoxFor(x => Model.ToList()[i].KursesRanee, new { @class = "forms-input" })
                        @*<input class="forms-input" type="text">*@
                    </div>
                </div>
            </div>
            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title">Проходили ли когда-либо лечение в Китае?</div>@*KursesChinaRanee*@
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsKursesChinaRanee, "Нет")
                        @*<input type="radio" name="radio-group-303" checked>*@<span>Нет</span>
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsKursesChinaRanee, "Да")
                        @*<input type="radio" name="radio-group-304">*@<span>Да</span>
                    </label>
                    <div class="forms-radiotwix-hidden">
                        <label class="forms-label">Где и когда</label>
                        @Html.TextBoxFor(x => Model.ToList()[i].KursesChinaRanee, new { @class = "forms-input" })
                        @*<input class="forms-input" type="text">*@
                    </div>
                </div>
            </div>
            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title">
                        Лечились ли когда-либо методами китайской традиционной медицины за пределами Китая?
                        (Иглорефлексотерапия, китайский массаж, лечение китайскими лекарственными препаратами)@*NonTradicial*@
                    </div>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsNonTradicial, "Нет")
                        @*<input type="radio" name="radio-group-305" checked>*@<span>Нет</span>
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsNonTradicial, "Да")
                        @*<input type="radio" name="radio-group-305">*@<span>Да</span>
                    </label>
                    <div class="forms-radiotwix-hidden">
                        <label class="forms-label">Где и каковы результаты</label>
                        @Html.TextBoxFor(x => Model.ToList()[i].NonTradicial, new { @class = "forms-input" })
                        @*<input class="forms-input" type="text">*@
                    </div>
                </div>
            </div>
            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title">Проводились ли хирургические операции по Вашему заболеванию?</div>@*Hirurg*@
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].Hirurg, "Нет")
                        @*<input type="radio" name="radio-group-306" checked>*@<span>Нет</span>
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].Hirurg, "Да")
                        @*<input type="radio" name="radio-group-306">*@<span>Да</span>
                    </label>
                </div>
            </div>
            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title">Получали ли травмы от внешних факторов? (ДТП, несчастные случаи)</div>@*Travmi*@
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].Travmi, "Нет")
                        @*<input type="radio" name="radio-group-307" checked>*@<span>Нет</span>
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].Travmi, "Да")
                        @*<input type="radio" name="radio-group-307">*@<span>Да</span>
                    </label>
                </div>
            </div>
        }
    </div><!-- END order-section #meddata -->

    <div class="form-errors">
        @Html.ValidationSummary()
    </div>
    <div id="error-step3" class="form-errors"></div>
    <div class="forms-line top-30">
        <input id="orderstep3next" class="btn btn-orang" type="button" value="ПРОДОЛЖИТЬ">
        <input class="btn btn-gray btn-back" data-move-to="2" type="button" value="На предыдущий шаг">
        <input id="orderstep3save" class="btn btn-gray" type="button" value="Отложить заполнение">
    </div>
}