@model IEnumerable<Cure.WebSite.Models.VisitInfoViewModel>

@using (Html.BeginForm("SaveStep3", "Cabinet", FormMethod.Post, new
{
    @id = "formOrderStep3",
    enctype = "multipart/form-data"
}))
{
    <h4 class="forms-heading">
        Чтобы определить возможность реабилитации и лечения в нашей больнице, просим <br>
        вас ответить на важные вопросы. Все поля не являются обязательными для заполнения.
    </h4>
    <div class="order-section" id="meddata">
        @for (int i = 0; i < Model.Count(); i++)
        {
            <h5 class="forms-subheading">@Html.Raw(i + 1)-й пациент @Html.Raw(Model.ToList()[i].Name)</h5>
            @Html.HiddenFor(m => Model.ToList()[i].Id)
            <div class="forms-line order-forms-line">
                <label class="forms-label">Диагноз пациента из последних выписок</label>
                @Html.TextAreaFor(x => Model.ToList()[i].TodaysDiagnoz, new { maxlength = 2500, @class = "forms-text is-short" })
            </div>
            <div class="forms-line order-forms-line">
                <label class="forms-label">
                    История болезни. Опишите подробно из медицинских документов: беременность,
                    роды, вес, АПГАР, ИВЛ, реанимация, обследование, лечение. Когда заметили у
                    ребенка проблемы, сопутствующие заболевания
                </label>
                @Html.TextAreaFor(x => Model.ToList()[i].HystoryA, new { maxlength = 5000, @class = "forms-text" })
            </div>
            <div class="forms-line order-forms-line">
                <label class="forms-label">Продолжительность заболевания</label>
                @Html.TextBoxFor(x => Model.ToList()[i].HystoryB, new { maxlength = 5000, @class = "forms-input" })
            </div>
            <div class="forms-line order-forms-line">
                <label class="forms-label">
                    Этапы физического развития с момента рождения <br>
                    (Когда начал держать голову, сидеть, ползать, стоять, ходить, и т д.)
                </label>
                @Html.TextAreaFor(x => Model.ToList()[i].Razvitie, new { maxlength = 5000, @class = "forms-text" })
            </div>
            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title">Состоит ребенок на психиатрическом диспансерном учете?</div>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsDispanser, "Нет")
                        <span>Нет</span>
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsDispanser, "Да")
                        <span>Да</span>
                    </label>
                    <div class="forms-radiotwix-hidden">
                        <label class="forms-label">Опишите подробнее</label>
                        @Html.TextBoxFor(x => Model.ToList()[i].Dispanser, new { maxlength = 250, @class = "forms-input" })
                    </div>
                </div>
            </div>
            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title">Состоит ребенок на наркологическом диспансерном учете?</div>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsDispanserNarko, "Нет")
                        <span>Нет</span>
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsDispanserNarko, "Да")
                        <span>Да</span>
                    </label>
                    <div class="forms-radiotwix-hidden">
                        <label class="forms-label">Опишите подробнее</label>
                        @Html.TextBoxFor(x => Model.ToList()[i].DispanserNarko, new { maxlength = 250, @class = "forms-input" })
                    </div>
                </div>
            </div>
            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title">Находится ли ребенок на кожно-венерологическом диспансерном учете?</div>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsDispanser2, "Нет")
                        <span>Нет</span>
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsDispanser2, "Да")
                        <span>Да</span>
                    </label>
                    <div class="forms-radiotwix-hidden">
                        <label class="forms-label">Опишите подробнее</label>
                        @Html.TextBoxFor(x => Model.ToList()[i].Dispanser2, new { maxlength = 250, @class = "forms-input" })
                    </div>
                </div>
            </div>
            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title">Имеет ли опасные для здоровья заболевания?</div>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsDangerousDiseases, "Нет")
                        <span>Нет</span>
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsDangerousDiseases, "Да")
                        <span>Да</span>
                    </label>
                    <div class="forms-radiotwix-hidden">
                        <label class="forms-label">Опишите подробнее</label>
                        @Html.TextBoxFor(x => Model.ToList()[i].DangerousDiseases, new { maxlength = 250, @class = "forms-input" })
                    </div>
                </div>
            </div>
            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title">Сердечно – сосудистые заболевания?</div>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsSerdce, "Нет")
                        <span>Нет</span>
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsSerdce, "Да")
                        <span>Да</span>
                    </label>
                    <div class="forms-radiotwix-hidden">
                        <label class="forms-label">Опишите подробнее</label>
                        @Html.TextBoxFor(x => Model.ToList()[i].Serdce, new { maxlength = 250, @class = "forms-input" })
                    </div>
                </div>
            </div>
            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title">Заболевания дыхательной системы?</div>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsDihalka, "Нет")
                        <span>Нет</span>
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsDihalka, "Да")
                        <span>Да</span>
                    </label>
                    <div class="forms-radiotwix-hidden">
                        <label class="forms-label">Опишите подробнее</label>
                        @Html.TextBoxFor(x => Model.ToList()[i].Dihalka, new { maxlength = 250, @class = "forms-input" })
                    </div>
                </div>
            </div>
            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title">Инфекционные заболевания?</div>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsInfections, "Нет")
                        <span>Нет</span>
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsInfections, "Да")
                        <span>Да</span>
                    </label>
                    <div class="forms-radiotwix-hidden">
                        <label class="forms-label">Опишите подробнее</label>
                        @Html.TextBoxFor(x => Model.ToList()[i].Infections, new { maxlength = 250, @class = "forms-input" })
                    </div>
                </div>
            </div>
            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title">Другие опасные для здоровья и окружающих заболевания?</div>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsOtherDiseases, "Нет")
                        <span>Нет</span>
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsOtherDiseases, "Да")
                        <span>Да</span>
                    </label>
                    <div class="forms-radiotwix-hidden">
                        <label class="forms-label">Опишите подробнее</label>
                        @Html.TextBoxFor(x => Model.ToList()[i].OtherDiseases, new { maxlength = 250, @class = "forms-input" })
                    </div>
                </div>
            </div>

            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title is-bigtitle">Имеются ли признаки эпилепсии, судороги?</div>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].Epilispiya, "Нет")
                        <span>Нет</span>
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].Epilispiya, "Да")
                        <span>Да</span>
                    </label>
                    <div class="forms-radiotwix-hidden">
                        <div class="forms-line order-forms-line">
                            <h5 class="forms-subheading">Информация для корректировки лечения по симптомам эпилепсии:</h5>
                            <label class="forms-label">
                                Опишите подробно приступы: тип, на фоне чего происходят, продолжительность и как протекают
                            </label>
                            @Html.TextAreaFor(x => Model.ToList()[i].SudorogiType, new { maxlength = 5000, @class = "forms-text is-short" })
                        </div>
                        <div class="forms-line order-forms-line">
                            <label class="forms-label">Количество приступов в год  (Как часто: 2-3 раза в год,  раз в месяц, каждый день )</label>
                            @Html.TextBoxFor(x => Model.ToList()[i].SudorogiCount, new { maxlength = 250, @class = "forms-input" })
                        </div>
                        <div class="forms-line order-forms-line">
                            <label class="forms-label">
                                Противосудорожные препараты: наименование, дозировка и продолжительность приема
                            </label>
                            @Html.TextAreaFor(x => Model.ToList()[i].SudorogiMedcine, new { maxlength = 250, @class = "forms-text is-short" })
                        </div>
                        <div class="forms-line order-forms-line">
                            <label class="forms-label">Когда был последний приступ (месяц, год)</label>
                            @Html.TextBoxFor(x => Model.ToList()[i].Remission, new { maxlength = 250, @class = "forms-input" })
                        </div>
                        <div class="forms-line order-forms-line">
                            <label class="forms-label">
                                Заключение ЭЭГ из выписки
                            </label>
                            @Html.TextAreaFor(x => Model.ToList()[i].Encefalogram, new { maxlength = 5000, @class = "forms-text is-short" })
                        </div>
                        <div class="forms-line order-forms-line">
                            <label class="forms-label">Прикрепить тесктовой документ, сканированный документ, видео приступа (до 5 Мб)</label>
                            @Html.Partial("_OrderWizardStep3Files", (IEnumerable<string>)ViewBag.DocFiles)
                            <div class="forms-file has-icon-clip">
                                <div class="forms-file-msg">Прикрепить файл</div>
                                <input id="fileOrderUpload" name="fileOrderUpload" type="file">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <h4 class="forms-heading">Краткая история лечения</h4>
            <div class="forms-note">Данная информация позволит докторам учесть пройдённое ранее лечение</div>
            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title">Какое ранее проводилось лечение по Вашему заболеванию и где? Его результаты</div>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsKursesRanee, "Нет")
                        <span>Нет</span>
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsKursesRanee, "Да")
                        <span>Да</span>
                    </label>
                    <div class="forms-radiotwix-hidden">
                        <label class="forms-label">Опишите подробнее</label>
                        @Html.TextBoxFor(x => Model.ToList()[i].KursesRanee, new { maxlength = 5000, @class = "forms-input" })
                    </div>
                </div>
            </div>
            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title">Проходили ли когда-либо лечение в Китае?</div>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsKursesChinaRanee, "Нет")
                        <span>Нет</span>
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsKursesChinaRanee, "Да")
                        <span>Да</span>
                    </label>
                    <div class="forms-radiotwix-hidden">
                        <label class="forms-label">Где и когда</label>
                        @Html.TextBoxFor(x => Model.ToList()[i].KursesChinaRanee, new { maxlength = 5000, @class = "forms-input" })
                    </div>
                </div>
            </div>
            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title">
                        Лечились ли когда-либо методами китайской традиционной медицины за пределами Китая?
                        (Иглорефлексотерапия, китайский массаж, лечение китайскими лекарственными препаратами)
                    </div>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsNonTradicial, "Нет")
                        <span>Нет</span>
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsNonTradicial, "Да")
                        <span>Да</span>
                    </label>
                    <div class="forms-radiotwix-hidden">
                        <label class="forms-label">Где и каковы результаты</label>
                        @Html.TextBoxFor(x => Model.ToList()[i].NonTradicial, new { maxlength = 250, @class = "forms-input" })
                    </div>
                </div>
            </div>
            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title">Проводились ли хирургические операции по Вашему заболеванию?</div>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsHirurg, "Нет")
                        <span>Нет</span>
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsHirurg, "Да")
                        <span>Да</span>
                    </label>
                    <div class="forms-radiotwix-hidden">
                        <label class="forms-label">Опишите подробнее</label>
                        @Html.TextBoxFor(x => Model.ToList()[i].Hirurg, new { maxlength = 250, @class = "forms-input" })
                    </div>
                </div>
            </div>
            <div class="forms-line order-forms-line">
                <div class="forms-radiotwix">
                    <div class="forms-radiotwix-title">Получали ли травмы от внешних факторов? (ДТП, несчастные случаи)</div>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsTravmi, "Нет")
                        <span>Нет</span>
                    </label>
                    <label class="forms-radio">
                        @Html.RadioButtonFor(x => Model.ToList()[i].IsTravmi, "Да")
                        <span>Да</span>
                    </label>
                    <div class="forms-radiotwix-hidden">
                        <label class="forms-label">Опишите подробнее</label>
                        @Html.TextBoxFor(x => Model.ToList()[i].Travmi, new { maxlength = 250, @class = "forms-input" })
                    </div>
                </div>
            </div>
        }
    </div><!-- END order-section #meddata -->

    <div class="form-errors">
        @Html.ValidationSummary()
    </div>
    <div id="error-step3" class="form-errors"></div>
    <div class="forms-line top-30">
        <input id="orderstep3next" class="btn btn-orang" type="button" value="ПРОДОЛЖИТЬ">
        <input class="btn btn-gray btn-back" data-move-to="2" type="button" value="На предыдущий шаг">
        <input id="orderstep3save" class="btn btn-gray" type="button" value="Отложить заполнение">
    </div>
}