@using Cure.WebSite.Models
@model IEnumerable<OrderViewModel>

@if (Model.Any())
{
    <div class="orders-list">
        @foreach (OrderViewModel order in Model)
        {
            <div class="order-item">
                <div class="order-head">
                    <h3 class="order-title">Заявка от @Html.Raw(order.Date.ToString("dd-MM-yyyy"))</h3>
                    <div class="order-status">@Html.Raw(order.Status)</div>
                </div>
                <div class="order-body">
                    <section class="order-section">
                        <h4 class="order-sec-title">Клиника</h4>
                        <div class="order-sec-text is-cllinic">@Html.Raw(order.DepartmentName)</div>
                    </section>
                    <section class="order-section">
                        <h4 class="order-sec-title">Период лечения</h4>
                        <div class="order-sec-text">@Html.Raw(order.DateFrom.ToString("dd-MM-yyyy")) - @order.DateTo.ToString("dd-MM-yyyy")</div>
                    </section>
                </div>
                <a class="order-link" data-order="345" title="@Html.Raw(string.Format("ID:{0}", order.OrderId))"></a>
            </div>
        }
    </div>
}
else
{
    <div class="content-tab-empty">Заявок еще нет</div>
}
