@using Cure.WebSite.Models;
@model PostModel

<div class="post-head">
    @if (Model.OwnerUser == User.Identity.Name)
    {
        <ul class="all-posts-btns">
            <li><a class="post-btn-edit" role="button" title="Изменить комментарий" data-postid="@Model.Id"></a></li>
            <li><a class="post-btn-delete" role="button" title="Удалить комментарий" data-postid="@Model.Id"></a></li>
        </ul>
    }
    <div class="post-date">@Html.Raw(Model.CreateDate.ToString("dd-MM-yyyy H:mm"))</div>
</div>
<div class="post-body user-content">
    <p>
        <div id="@Html.Raw(string.Format("editblock-{0}", Model.Id))" style="display: none">
            @Html.TextArea("text", "", new { @id = string.Format("editmemo-{0}", Model.Id), @placeholder = "Ваше сообщение", @class = "forms-text" })
            <input class="btn btn-orang post-edit" data-postid="@Model.Id" type="button" value="СОХРАНИТЬ">
            <input class="btn btn-gray post-cancel" data-postid="@Model.Id" type="button" value="ОТМЕНА">
        </div>
        <div id="@Html.Raw(string.Format("textpost-{0}", Model.Id))">@Model.Text</div>
        <div id="@Html.Raw(string.Format("postprogress-{0}", Model.Id) )">
        </div>
    </p>
</div>

