@using Cure.DataAccess
@using Cure.Utils
@using Cure.WebSite.Models
@model IEnumerable<Cure.DataAccess.Message>

@{ DateTime lastDate = DateTime.Now.AddYears(-100); }
@foreach (Message message in Model)
{
    if (message.SendTime.Date > lastDate.Date)
    {
        @Html.Raw(string.Format(@"<div class=""chat-log-date"">{0}</div>", message.SendTime.ToString("dd-MM-yyyy")));
                                                                                                                    lastDate = message.SendTime;
    }

    <div class="chat-message @Html.Raw(message.FromUserName == User.Identity.Name ? "is-outgoing" : "is-incoming")">
        <div class="chat-message-img">
            <img class="@Html.Raw(message.FromUserName == User.Identity.Name ? "my-userpic" : "incoming-userpic")" alt="@message.FromDisplay">
        </div>
        <div class="chat-message-txt">@Html.Raw(SiteUtils.ReplaceSmiles(message.Text))</div>
    </div>
}
<div id="chat-bottom"> </div>