@using Cure.WebSite.Models
@using Cure.DataAccess
@model Cure.WebSite.Models.ChildVisualDetailed

@{
    ViewBag.Title = "Профиль пользователя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main common-page" role="main">
    <div class="container">
        @Html.Partial("_CabinetInfoLine", "Настройки")

        <div class="content-wrap">
            <h3>
                Данные учётной записи
            </h3>

            <div class="row">
                <div class="col-md-7">
                    <table class="common-sheet">
                        <tbody>
                            <tr>
                                <td>Эл. почта</td>
                                <td>@Model.ContactEmail</td>
                                <td class="txt-right"><a class="btn btn-small js-show-popup" data-pop="pop-email-change" role="button">Изменить</a></td>
                            </tr>
                            <tr>
                                <td>Телефон</td>
                                <td>@Model.ContactPhone</td>
                                <td class="txt-right"><a class="btn btn-small js-show-popup" data-pop="pop-phone-change" role="button">Изменить</a></td>
                            </tr>
                            <tr>
                                <td>Пароль</td>
                                <td>******************</td>
                                <td class="txt-right"><a class="btn btn-small js-show-popup" data-pop="pop-password-change" role="button">Изменить</a></td>
                            </tr>
                        </tbody>
                    </table>

                    <h3>
                        Фото профиля
                    </h3>

                    <div class="settings-line">
                        <div class="item">
                            <img src="@Model.Userpic.UrlOriginal" alt="@Html.Raw(((ChildVisualDetailed)(ViewBag.Profile)).ContactName)">
                        </div>
                        @using (Html.BeginForm("UploadUserpic", "Cabinet", FormMethod.Post, new
                        {
                            @id = "formUploadUserpic",
                            @class = "userdata-form js-validate",
                            enctype = "multipart/form-data"
                        }))
                        {
                            <div>
                                <div class="item forms-file">
                                    <div>
                                        <div>Обновить</div>
                                        <input id="fileUserpicUpload" name="fileUserpicUpload" type="file"/>
                                    </div>
                                </div>
                                <div class="item">
                                    <div>
                                        <a class="btn btn-gray userpic-del" data-pop="pop-email" role="button">Удалить</a>
                                    </div>
                                </div>
                            </div>
                            <div id="uploadprogress"></div>
                            <div id="error-settings" class="form-errors"></div>
                        }
                    </div>

                    <h3>
                        Ссылка на мою страницу
                    </h3>

                    <div class="row settings-line">
                        <div class="col-md-8">
                            <div id="mypageurl" class="note">
                                @Html.Raw(string.Format("dcp-china.ru/children/detail/{0}", Model.Id))
                            </div>
                        </div>
                        <div class="col-md-4 txt-right">
                            <a class="btn btn-small js-copy-clipboard" data-text="@Html.Raw(string.Format("dcp-china.ru/children/detail/{0}", Model.Id))" role="button">Скопировать в буфер обмена</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <p>Электронная почта, телефон и фото профиля<br />так-же отображаются на Вашей страние<br />раздела "Наши дети"</p>
                </div>
            </div>
        </div><!-- END all-pages-body -->
    </div><!-- END container -->

</div><!-- END main -->

<div class="popup popup-registr" id="pop-password-change">
    <div class="popup-modal"></div>
    <div class="popup-wrap">
        <a class="popup-close"></a>
        <div class="popup-head js-tabs-registr">
            <div class="popup-title">Изменение пароля</div>
        </div>
        <div class="popup-body">
            @Html.Partial("_AccountChangePass")
        </div>
    </div>
</div>

<div class="popup popup-registr" id="pop-email-change">
    <div class="popup-modal"></div>
    <div class="popup-wrap">
        <a class="popup-close"></a>
        <div class="popup-head js-tabs-registr">
            <div class="popup-title">Изменение e-mail адреса</div>
        </div>
        <div class="popup-body">
            @Html.Partial("_AccountChangeEmail")
        </div>
    </div>
</div>

<div class="popup popup-registr" id="pop-phone-change">
    <div class="popup-modal"></div>
    <div class="popup-wrap">
        <a class="popup-close"></a>
        <div class="popup-head js-tabs-registr">
            <div class="popup-title">Изменение контактного телефона</div>
        </div>
        <div class="popup-body">
            @Html.Partial("_AccountChangePhone")
        </div>
    </div>
</div>