
<div class="test-levels">
    <span class="txt-note" 
          title="Система классификации навыков общения
          (Communication Function Classification System, CFCS)">GMFCS</span>
    <span class="txt-data" id="level-gmfcs" title="@ViewBag.TestLevel1Desc">@ViewBag.TestLevel1Val</span>
    <span class="txt-note"
          title="Система классификации мануальных способностей для детей и подростков с ограниченными возможностями
          (Manual Ability Classification System for Children with Cerebral Palsy 4-18 years, MACS)">MACS</span>
    <span class="txt-data" id="level-cfcs" title="@ViewBag.TestLevel2Desc">@ViewBag.TestLevel2Val</span>
    <span class="txt-note"
          title="Система классификации больших моторных функций при церебральном параличе
          основана на оценке самопроизвольных движений, с акцентом на умении сидеть,
          перемещаться и передвигаться 
          (Gross Mortor Function Classification System)">CFCS</span>
    <span class="txt-data" id="level-cfcs" title="@ViewBag.TestLevel3Desc">@ViewBag.TestLevel3Val</span>
    
</div>