@using Cure.WebSite.Models
@model Cure.WebSite.Models.ChildVisualDetailed

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main child-page" role="main">
    <div class="container">
        <div class="all-pages-head">
            <div class="row">
                <div class="col-lg-7">
                    <h1 class="all-pages-H1">@Model.Name <span class="subtitle">@Model.Age,<br /> @Model.CountryName@Html.Raw(string.IsNullOrEmpty(Model.Region) ? "" : ", ") @Model.Region</span></h1>
                </div>
                <div class="col-lg-5">
                    @*<div class="head-btns mob-md-mw-313">*@
                    @*<a class="btn btn-white has-shadow ico-seti btn-two-lines">Поделиться<br>в соцсетях</a>*@
                    <a href="@Url.Action("Messages", "Cabinet", new {contact = Model.OwnerUser})" class="btn btn-white has-shadow ico-mail btn-two-lines">Написать<br>сообщение</a>
                    @*<a class="btn btn-orang has-shadow ico-help">Оказать помощь</a>*@
                    @*</div>*@
                </div>
            </div>
        </div>
        <div class="child-page-body">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="child-page-aside">
                        <div class="child-aside-img">
                            <img src="@Model.PhotoUrl" alt="@Model.Name">
                        </div>
                        <section class="child-aside-info mob-accordion js-mob-accordion">
                            <h3 class="info-head js-mob-accordion-btn">Контактная информация</h3>
                            <div class="info-body js-mob-accordion-body">
                                <div class="info-contact">
                                    <div class="info-contact-img"><img src="@Model.Userpic.UrlOriginal" alt="@Model.ContactName"></div>
                                    <div class="info-contact-txt">@Model.ContactName</div>
                                    <div class="info-contact-who">@Model.RodstvoName</div>
                                </div>
                                <a class="info-contact" href="tel:@Model.ContactPhone">@Model.ContactPhone</a>
                                <a class="info-contact" href="mailto:@Model.ContactEmail">@Model.ContactEmail</a>
                            </div>
                        </section>

                        @if (Model.IsAnySocial)
                        {
                            <section class="child-aside-info mob-accordion js-mob-accordion">
                                <h3 class="info-head js-mob-accordion-btn">Страницы в соцсетях</h3>
                                <div class="info-body js-mob-accordion-body">
                                    <ul class="info-seti-list">
                                        @if (!string.IsNullOrEmpty(Model.SocialVk))
                                        {
                                            <li><a class="vk" href="@Model.SocialVk" target="_blank" title="ВКонтакте"><i class="fa fa-vk"></i></a></li>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.SocialOk))
                                        {
                                            <li><a class="ok" href="@Model.SocialOk" target="_blank" title="Одноклассники"><i class="fa fa-odnoklassniki"></i></a></li>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.SocialFb))
                                        {
                                            <li><a class="fb" href="@Model.SocialFb" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></li>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.SocialMm))
                                        {
                                            <li><a class="yt" href="@Model.SocialMm" target="_blank" title="Мой Мир@Mail.ru"><i class="fa fa-at"></i></a></li>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.SocialYoutube))
                                        {
                                            <li><a class="yt" href="@Model.SocialYoutube" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                                        }
                                    </ul>
                                </div>
                            </section>
                        }

                        <section class="child-aside-info mob-accordion js-mob-accordion">
                            <h3 class="info-head js-mob-accordion-btn">Финансовая помощь</h3>
                            @if (!string.IsNullOrEmpty(Model.FinWebMoneyString) || !string.IsNullOrEmpty(Model.OperatorName) || !string.IsNullOrEmpty(Model.Operator2Name) || !string.IsNullOrEmpty(Model.Operator3Name) || !string.IsNullOrEmpty(Model.Operator4Name) || !string.IsNullOrEmpty(Model.FinBankOther))
                            {
                                <div class="info-body js-mob-accordion-body">
                                    <div class="child-info-money">
                                        @if (!string.IsNullOrEmpty(Model.FinWebMoneyString))
                                        {
                                            <div class="money-account">
                                                <i class="money-acc-icon">
                                                    <img src="~/content/img/money-icons/webmoney.png" alt="Вэбмани">
                                                </i>
                                                <div class="money-acc-note">Вэбмани</div>
                                                <div class="money-acc-numb">@Html.Raw(Model.FinWebMoneyString)</div>
                                            </div>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.OperatorName))
                                        {
                                            <div class="money-account">
                                                <i class="money-acc-icon">
                                                    <img src="~/content/img/operators/@Html.Raw(string.IsNullOrEmpty(Model.OperatorParams) ? "nooperator.png" : Model.OperatorParams)" alt="@Model.OperatorName">
                                                </i>
                                                <div class="money-acc-note">@Model.OperatorName</div>
                                                <div class="money-acc-numb">@Model.FinPhoneNumber</div>
                                            </div>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.Operator2Name))
                                        {
                                            <div class="money-account">
                                                <i class="money-acc-icon">
                                                    <img src="~/content/img/operators/@Html.Raw(string.IsNullOrEmpty(Model.Operator2Params) ? "nooperator.png" : Model.Operator2Params)" alt="@Model.OperatorName">
                                                </i>
                                                <div class="money-acc-note">@Model.Operator2Name</div>
                                                <div class="money-acc-numb">@Model.FinPhoneNumber2</div>
                                            </div>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.Operator3Name))
                                        {
                                            <div class="money-account">
                                                <i class="money-acc-icon">
                                                    <img src="~/content/img/operators/@Html.Raw(string.IsNullOrEmpty(Model.Operator3Params) ? "nooperator.png" : Model.Operator3Params)" alt="@Model.OperatorName">
                                                </i>
                                                <div class="money-acc-note">@Model.Operator3Name</div>
                                                <div class="money-acc-numb">@Model.FinPhoneNumber3</div>
                                            </div>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.Operator4Name))
                                        {
                                            <div class="money-account">
                                                <i class="money-acc-icon">
                                                    <img src="~/content/img/operators/@Html.Raw(string.IsNullOrEmpty(Model.Operator4Params) ? "nooperator.png" : Model.Operator4Params)" alt="@Model.OperatorName">
                                                </i>
                                                <div class="money-acc-note">@Model.Operator4Name</div>
                                                <div class="money-acc-numb">@Model.FinPhoneNumber4</div>
                                            </div>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.FinBankOther))
                                        {
                                            <div class="money-account">
                                                @Html.Raw(Model.FinBankOther.Replace("\n", "<br/>"))
                                            </div>
                                            @*<div class="money-card">
                                                    <div class="money-card-title">Карта @Model.BankName</div>
                                                    <div class="money-card-numb">@Model.FinCardNumber</div>
                                                    <div class="money-card-name">@Model.FinCardName</div>
                                                </div>*@
                                        }

                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="info-contact-txt">Информации для финансовой помощи пока отсутствует.</div>
                            }
                        </section>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="child-page-tabs">
                        <ul class="child-tabs-head js-tabs-head">
                            <li><a class="active js-tabs-link" data-tab="child-tab-1">История лечения</a></li>
                            <li><a class="js-tabs-link" data-tab="child-tab-2">Лента впечатлений</a></li>
                            <li><a class="js-tabs-link" data-tab="child-tab-3">фотоальбом</a></li>
                            <li><a class="js-tabs-link" data-tab="child-tab-4">Документы</a></li>
                        </ul>
                        <div class="child-tabs-body js-tabs-body">
                            <div class="child-tabs-tab active js-tabs-item" id="child-tab-1">
                                @if (((IEnumerable<VisitResultViewModel>)ViewBag.Vipiskas).Any())
                                {
                                    <div class="child-tab-wrap" id="js-for-load-history">
                                        @foreach (VisitResultViewModel visit in (IEnumerable<VisitResultViewModel>)ViewBag.Vipiskas)
                                        {
                                            <div class="child-tab-post">
                                                <div class="post-date">
                                                    @visit.DateFrom.ToString("dd-MM-yyyy") - @visit.DateTo.ToString("dd-MM-yyyy") / <span class="post-days">в днях: @visit.DaysTotal</span>
                                                </div>
                                                <h2 class="post-title">Проведено лечение в клинике - @visit.DepartmentName</h2>
                                                <h3 class="post-subtitle">Результат</h3>
                                                <div class="post-body user-content">
                                                    <p>
                                                        @visit.Results
                                                    </p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div class="content-tab-empty">Данный раздел заполняется администрацией больницы из  истории болезни</div>
                                }
                                @*
                                    <div class="all-pages-more child-tab-more">
                                        <div class="more-btn">
                                            <a class="btn btn-light has-loading js-load-more-history">Показать еще</a>
                                        </div>
                                    </div>*@
                            </div>

                            <div class="child-tabs-tab js-tabs-item" id="child-tab-2">
                                @Html.Partial("_PostBoard", Model)
                            </div>

                            <div class="child-tabs-tab js-tabs-item" id="child-tab-3">
                                <div class="child-tab-gallery">
                                    <div class="gallery-light">
                                        <div class="gallery-slider js-tab-slider" id="big-slider-img">
                                            @foreach (var photoItem in Model.PhotoItemList)
                                            {
                                                if (Model.HiddenPhotoList.All(x => x.FileName != System.IO.Path.GetFileName(photoItem.UrlOriginal)))
                                                {
                                                    <div class="slide"><img src="@photoItem.UrlBig" alt="__"></div>
                                                }
                                            }
                                        </div>
                                        <!-- Блок «Поделиться» от Яндекса-->
                                        <script type="text/javascript" src="http://yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
                                        <script type="text/javascript" src="http://yastatic.net/share2/share.js" charset="utf-8"></script>
                                        <div class="gallery-share ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir" data-counter=""></div>
                                    </div>
                                    <div class="has-underline">
                                        <div class="gallery-thumbs js-tab-slider" id="big-slider-nav">
                                            @foreach (var photoItem in Model.PhotoItemList)
                                            {
                                                if (Model.HiddenPhotoList.All(x => x.FileName != System.IO.Path.GetFileName(photoItem.UrlOriginal)))
                                                {
                                                    <div class="thumb"><img src="@photoItem.UrlBig" alt="__"></div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Таб "Документы" -->
                            <div class="child-tabs-tab js-tabs-item" id="child-tab-4">
                                <div class="child-tab-gallery">
                                    @if (Model.DocItemList.Any(x => Model.HiddenPhotoList.All(h => h.FileName != Path.GetFileName(x.UrlOriginal))))
                                    {
                                        <div class="child-tab-slider">
                                            <div class="slider-light">
                                                <div class="all-pages-slider js-allpages-slider js-tab-slider">
                                                    @foreach (var doc in Model.DocItemList.Where(x => Model.HiddenPhotoList.All(h => h.FileName != Path.GetFileName(x.UrlOriginal))))
                                                    {
                                                        <div class="slide"><img src="@doc.UrlOriginal" alt="@Model.Name"></div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="info-contact-txt">Документы пока не загружены.</div>
                                    }
                                </div>
                            </div>
                            <!-- END Таб "Документы" -->

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- END container -->

</div>
