
@{
    ViewBag.Title = "Препараты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="all-pages-head medicine-head">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="medicine-head-links">
                        <li><h1><span>Препараты</span></h1></li>
                        <li><a href="@Url.Action("Index", "Procedure")"><span>Процедуры</span></a></li>
                    </ul>
                    <div class="medicine-subtitle">
                        Китайская медицина и фармакология лекарственных средств это мощная составная часть традиционной китайской медицины
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="medicine-head-prop">
                        <div class="prop-icon">
                            <img src="~/Content/images/medicine/prop-icon_1.png" alt="Препараты, изготовленные в Китае">
                        </div>
                        <div class="prop-text">
                            Применяются препараты как китайской медицины так и западной. Лекарственные средства десятилетиями проверялись и использовались китайскими врачами и целителями. Эффективно помогают устранить проблемы со здоровьем, благодаря восстановлению внутреннего баланса всего организма в целом. Сочетание лекарственных препаратов и интенсивной физической реабилитации имеет уникальный лечебный эффект.
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END all-pages-head -->
    </div><!-- END container -->

    <div class="all-pages-body">
        <div class="medicine-body" id="js-for-load-medicaments">
            <div class="container">

                <div class="row medicament-row">
                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Mouse", "Medicine")">
                                <img src="~/Content/images/medicine/medicament_1.jpg" alt="Фактор роста нервов мыши">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Mouse", "Medicine")">Мышиный нервный ростовой фактор, раствор для инъекций (Mouse Nerve Growth Factor Injection)</a>
                            </h3>
                            <div class="medicament-china">注射用鼠神经生长因子</div>
                            <div class="medicament-note">
							<p>
                                Стимулирует рост нервных клеток. Вводится посредством точечных инъекций  (обколок).
								</p>
								<p>
								<!-- Состав: очищенный нервный ростовой фактор, полученный из мышиной подчелюстной железы. В качестве протективных агентов содержит 5% маннитол и 0.1% сывороточный альбумин человека.-->
								</p>
								<p>
								<!-- Применение: заболевания периферической нервной системы, вызванные интоксикацией Н-гексаном, церебральный паралич, отставание в умственном развитии. Оказывает действие, способствуя восстановлению повреждённых нервов.-->
								</p>

                            </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="@Url.Action("Mouse", "Medicine")">Подробнее</a>
                        </div>
                    </div><!-- END medicament -->

                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Methylcobalamin", "Medicine")">
                                <img src="~/Content/images/medicine/medicament_2.jpg" alt="Свободные аминокислоты и пептиды из крови телят">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Methylcobalamin", "Medicine")">
                                    Аминокислоты，пептиды， нуклеозиды для иньекций
                                    (Muscular Amino Acids and Peptides and Nucleosides Injection)
                                </a>
                            </h3>
                            <div class="medicament-china">肌氨肽苷注射液</div>
                            <div class="medicament-note">
                               									<p> 
								<!--Препарат содержит большое количество свободных аминокислот,  пептиды, нуклеозиды и нуклеотиды. Аминокислоты и пептиды, являются основными звеньями мозгового метаболизма (обмена веществ). Свободные нуклеотиды — играют важную роль в энергетических и информационных внутриклеточных процессах, а также являются составляющими частями нуклеиновых кислот. Нуклеиновые кислоты – присутствующие в клетках всех живых организмов биополимеры, которые выполняют важнейшие функции по хранению и передаче генетической информации и участвуют в механизмах ее реализации в процессе синтеза клеточных белков.-->
								</p>
								<p>
								<!--Улучшает кровообращение мозга и состояние функций нервной системы. Нуклеотидные и аминокислоты (свободные аминокислоты) является важным материалом которые участвуют в деятельности человека. При заболевании сердечно-сосудистой системы — улучшают циркуляцию крови, уменьшает сопротивление сосудов, уменьшают риск заболевания инфаркт миокарда, выполняет кроветворную функцию.-->
								</p>
								<p>
								<!--Показания: Нарушение периферийного, артериального и венозного кровообращения. Заболевания сосудов. Инсульт. Мозговая недостаточность.-->
								</p>
								<p>
								<!--Хранение: В прохладном темном месте -->
								</p>
                            </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="@Url.Action("Methylcobalamin", "Medicine")">Подробнее</a>
                            
                        </div>
                    </div><!-- END medicament -->
                </div>

                <div class="row medicament-row">
                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Mouse", "Medicine")">
                                <img src="~/Content/images/medicine/medicament_3.jpg" alt="Инъекции для глаз">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Mouse", "Medicine")">/////Инъекции для глаз (Ocular Extractives Injection)</a>
                            </h3>
                            <div class="medicament-china">眼氨肽注射液</div>
                            <div class="medicament-note">
                                Стимулирует обмен веществ глаза и способствует восстановлению верхней оболочки глаза.
                            </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="@Url.Action("Mouse", "Medicine")">Подробнее</a>
                        </div>
                    </div><!-- END medicament -->

                    <div class="col-md-6 medicine-unit medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Cerebrolysin", "Medicine")">
                                <img src="~/Content/images/medicine/medicament_4.jpg" alt="Боджи">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Cerebrolysin", "Medicine")">Гликопептид ганодермы (Бочжи) ((Bozhi) Ganoderma capense Glycopeptide Injection)</a>
                            </h3>
                            <div class="medicament-china">薄芝糖肽注射液</div>
                            <div class="medicament-note">
                                <p>
								Применяется для нормализации обмена веществ в тканях головного мозга.
								</p>
								<p>
								<!-- Состав: основным компонентом является гликопептид ганодермы (бочжи)
								</p>
								<p>
								<!-- Применение: применяется при прогрессирующей мышечной дистрофии, миотонической дистрофии, дисфункциях вестибулярного аппарата, эпилепсии, бессонице.-->
								</p>
								 </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="@Url.Action("Cerebrolysin", "Medicine")">Подробнее</a>
                        </div>
                    </div><!-- END medicament -->
                </div>

                <div class="row medicament-row">
                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Cerebroside", "Medicine")">
                                <img src="~/Content/images/medicine/medicament_5.jpg" alt="Мускус">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Cerebroside", "Medicine")">Комплексный раствор для инъекций с мускусом (Fufang Shexiang Zhusheye)</a>
                            </h3>
                            <div class="medicament-china">复方麝香注射液</div>
                            <div class="medicament-note">
							<!--<p>	
							 Мощный иммуностимулятор, регулятор сердечно - сосудистой системы, стимулятор процессов заживления, средство для восстановления нервной системы.
							</p>
							<p>
							Состав: синтетический мускус, корневые клубни куркумы длинной, пачули, аир злаковый, борнейская камфора, ментол. Вспомогательные вещества: полисорбат 80.
							</p>
							<p>
							Применение: очищение от мокроты для восстановления жизненных функций, пробуждение мозга и успокоение. Применяется при апоплексической коме, умственной отсталости, афазии, вызванных закупоркой каналов мокротой и жаром.-->
							</div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="@Url.Action("Cerebroside", "Medicine")">Подробнее</a>
                        </div>
                    </div><!-- END medicament -->

                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Musk", "Medicine")">
                                <img src="~/Content/images/medicine/medicament_2.jpg" alt="Ацеглютамид">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Musk", "Medicine")">Ацеглютамид, раствор для инъекций (Aceglutamide (Aceglutamine) Injection) </a>
                            </h3>
                            <div class="medicament-china">乙酰谷酰胺注射液</div>
                            <div class="medicament-note">
							<p>Нормализует обмен веществ нейрона. Стимулирует мозговую деятельность и может способствовать улучшению памяти. 
							</p>
							<p>
							<!--Состав: ацеглютамид (основной компонент), гидроксид натрия, вода для инъекций (вспомогательные компоненты)
							</p>
							<p>
							Применение: печеночная кома, церебральный паралич. Кома, паралич, сниженная психическая деятельность, расстройство памяти, вызванные нейрохирургическими операциями.-->
							</p>
							</div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="@Url.Action("Musk", "Medicine")">Подробнее</a>
                        </div>
                    </div><!-- END medicament -->
                </div><!-- END row -->

                <div class="row medicament-row">
                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Xingnaojing", "Medicine")">
                                <img src="~/Content/images/medicine/medicament_human.jpg" alt="Мускус">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Xingnaojing", "Medicine")">Гидролизат человеческой плаценты (Human Placenta Hydrolysate)</a>
                            </h3>
                            <div class="medicament-china">人胎盘组织液</div>
                            <div class="medicament-note">
                            <p>
							<!--Состав: вещество, полученное путем кислотного гидролиза человеческой плаценты.
							</p>
							<p>
							Применение: некоторые хронические восполительные заболевания в гинекологии и дерматологии, послеоперационные спайки, рубцовая контрактура, трахеит и другие хронические воспалительные заболевания.  Обладает свойством замедления старения, питает кожу и придает красоту, повышает иммунитет, устраняет свободные радикалы, восстанавливает повреждённые клетки, ускоряет метаболизм, снижает липтиды в крови, оказывает противовоспалительное и антиаллергическое действие.-->
							</p>
							</div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="@Url.Action("Xingnaojing", "Medicine")">Подробнее</a>
                        </div>
                    </div><!-- END medicament -->

                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Oxiracetam", "Medicine")">
                                <img src="~/Content/images/medicine/medicament_methylcobalamin.jpg" alt="Ацеглютамид">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Oxiracetam", "Medicine")">Метилкобаламин, раствор для инъекций (Methylcobalamin Injection)</a>
                            </h3>
                            <div class="medicament-china">注射用甲钴胺</div>
                            <div class="medicament-note">
							<p>
							<!--Инъекции могут помочь добиться быстрого и заметного эффекта, но это не является лечебной терапией. Это может быть использовано в комбинации с другими восстановительными терапиями, которые приведут ребенка к восстановлению биохимических процессов.
							</p>
							<p>
							Состав: метилкобаламин   Вспомогательное вещество: маннитол
							</p>
							<p>
							Применение: заболевания периферической нервной системы, макроцитарная анемия, вызванная недостатком витамина В12. Способствует миелинизации нервных волокон, повышая концентрацию внимания.-->
							</p>
							</div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="@Url.Action("Oxiracetam", "Medicine")">Подробнее</a>
                        </div>
                    </div><!-- END medicament -->
                </div><!-- END row -->

                <div class="row medicament-row">
                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Ganoderma", "Medicine")">
                                <img src="~/Content/images/medicine/medicament.jpg" alt="Cerebrolysin Injection">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Ganoderma", "Medicine")"> Церебролизин, раствор для инъекций (Cerebrolysin Injection)</a>
                            </h3>
                            <div class="medicament-china">注射液</div> <!-- на китайском не правильно -->
                            <div class="medicament-note">
														<p>
						<!--	Состав: стерильный препарат, полученный путем очищения вещества из тканей свиного мозга. Содержит 16 видов свободных аминокислот, а также небольшое количество пептидов.
							</p>
							<p>
							Применение: черепно-мозговые травмы, осложнения, вызванные нарушением мозгового кровообращения с такими сопутствующими симптомами, как ухудшение памяти и нарушение концентрации внимания.-->
							</p>
                            </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="@Url.Action("Ganoderma", "Medicine")">Подробнее</a>
                        </div>
                    </div><!-- END medicament -->

                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Aceglutamide", "Medicine")">
                                <img src="~/Content/images/medicine/medicament.jpg" alt="Cerebroside-Carnosine Injection">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Aceglutamide", "Medicine")"> Цереброзид-Карнозин, раствор для инъекций (Cerebroside-Carnosine Injection)</a>
                            </h3>
                            <div class="medicament-china">注射液</div>
                            <div class="medicament-note">
							<!--<p>
							Состав: многокомпонентный препарат, включающий в состав стерильный водный раствор, содержащий вещества, полученные из мышечных тканей здоровых кроликов, а также ганглиозиды, выделенные из бычьего мозга. Основные компоненты: полипептиды, различные виды ганглиозидов, свободные аминокислоты, нуклеиновые кислоты.
							</p>
							<p>
							Применение: лечение апоплексии мозга, старческого маразма, гипоксически-ишемической энцефалопатии новорожденных, черепно-мозговых травм, повреждений спинного мозга, а также повреждений центральной нервной системы, вызванных другими причинами. Также применяется для лечения повреждений периферических нервов, вызванных травмами, диабетической периферической нейропатией, компрессионной нейропатией и других повреждений периферической нервной системы.
							</p>-->
							</div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="@Url.Action("Aceglutamide", "Medicine")">Подробнее</a>
                        </div>
                    </div><!-- END medicament -->
                </div><!-- END row -->

                <div class="row medicament-row">
                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Sodium", "Medicine")">
                                <img src="~/Content/images/medicine/medicament_5.jpg" alt="Мускус">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Sodium", "Medicine")">Мускус</a>
                            </h3>
                            <div class="medicament-china">复方麝香注射液</div>
                            <div class="medicament-note">
                                Мощный иммуностимулятор, регулятор сердечно - сосудистой системы,
                                стимулятор процессов заживления, средство для восстановления нервной системы.
                            </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="@Url.Action("Sodium", "Medicine")">Подробнее</a>
                        </div>
                    </div><!-- END medicament -->
                    
                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Anisodine", "Medicine")">
                                <img src="~/Content/images/medicine/medicament_2.jpg" alt="Ацеглютамид">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Anisodine", "Medicine")">Ацеглютамид</a>
                            </h3>
                            <div class="medicament-china">乙酰谷酰胺注射液</div>
                            <div class="medicament-note">
                                Нормализует обмен веществ нейрона. Стимулирует мозговую деятельность и
                                может способствовать улучшению памяти.
                            </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="@Url.Action("Anisodine", "Medicine")">Подробнее</a>
                        </div>
                    </div><!-- END medicament -->
                </div><!-- END row -->

                <div class="row medicament-row">
                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Ocular", "Medicine")">
                                <img src="~/Content/images/medicine/medicament_5.jpg" alt="Мускус">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Ocular", "Medicine")">Мускус</a>
                            </h3>
                            <div class="medicament-china">复方麝香注射液</div>
                            <div class="medicament-note">
                                Мощный иммуностимулятор, регулятор сердечно - сосудистой системы,
                                стимулятор процессов заживления, средство для восстановления нервной системы.
                            </div>
                        </div>
                        <div class="medicament-btm">
                           
                            <a class="btn btn-light" href="@Url.Action("Ocular", "Medicine")">Подробнее</a>
					</div>
                    </div><!-- END medicament -->
					
                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Aminobutyric", "Medicine")">
                                <img src="~/Content/images/medicine/medicament_2.jpg" alt="Ацеглютамид">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Aminobutyric", "Medicine")">Ацеглютамид</a>
                            </h3>
                            <div class="medicament-china">乙酰谷酰胺注射液</div>
                            <div class="medicament-note">
                                Нормализует обмен веществ нейрона. Стимулирует мозговую деятельность и
                                может способствовать улучшению памяти.
                            </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="@Url.Action("Aminobutyric", "Medicine")">Подробнее</a>
                        </div>
                    </div><!-- END medicament -->
                </div><!-- END row -->

            </div><!-- END container -->
        </div><!-- END medicine -->

        @*<div class="all-pages-more testimonials-more">
            <div class="more-title">
                Позаканы <span id="more-count">4</span> из <span id="more-all">35</span>
            </div>
            <div class="more-btn">
                <a class="btn btn-light has-loading js-load-more-medicaments">загрузить еще</a>
            </div>
        </div>*@

    </div><!-- END all-pages-body -->


</div><!-- END main -->