
@{
    ViewBag.Title = "Перечень лекарственных препаратов для лечения ДЦП в Китае";
	ViewBag.Description = "Применяются препараты как китайской медицины так и западной. Сочетание препаратов и интенсивной физической реабилитации имеет уникальный лечебный эффект.";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="all-pages-head medicine-head">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="medicine-head-links">
                        <li><h1><span>Препараты</span></h1></li>
                        <li><a href="@Url.Action("Index", "Procedure")"><span>Процедуры</span></a></li>
                    </ul>
                    <div class="medicine-subtitle">
                        Китайская медицина и фармакология лекарственных средств это мощная составная часть традиционной китайской медицины
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="medicine-head-prop">
                        <div class="prop-icon">
                            <img src="~/Content/images/medicine/prop-icon_1.png" alt="Препараты, изготовленные в Китае">
                        </div>
                        <div class="prop-text">
                            Применяются препараты как китайской медицины так и западной. Лекарственные средства десятилетиями проверялись и использовались китайскими врачами и целителями. Эффективно помогают устранить проблемы со здоровьем, благодаря восстановлению внутреннего баланса всего организма в целом. Сочетание лекарственных препаратов и интенсивной физической реабилитации имеет уникальный лечебный эффект.
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END all-pages-head -->
    </div><!-- END container -->

    <div class="all-pages-body">
        <div class="medicine-body" id="js-for-load-medicaments">
            <div class="container">

                <div class="row medicament-row">
                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Mouse", "Medicine")">
                                <img src="~/Content/images/medicine/m6.png" alt="Фактор роста нервов мыши">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Mouse", "Medicine")">Мышиный нервный ростовой фактор, раствор для инъекций (Mouse Nerve Growth Factor Injection)</a>
                            </h3>
                            <div class="medicament-china">注射用鼠神经生长因子
						</div>
                            <div class="medicament-note">
							<p>
                                Стимулирует рост нервных клеток. Вводится посредством точечных инъекций  (обколок).
								</p>
								
                            </div>
                    </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="@Url.Action("Mouse", "Medicine")">Подробнее</a>
                </div>
                    </div><!-- END medicament ГОТОВО -->

                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Methylcobalamin", "Medicine")">
                                <img src="~/Content/images/medicine/m2.png" alt="Метилкобаламин">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Methylcobalamin", "Medicine")">
                                    Метилкобаламин, раствор для инъекций (Methylcobalamin Injection) </a>
                            </h3>
                            <div class="medicament-china">注射用甲钴胺</div>
                            <div class="medicament-note">
                               	<p> 
								После длительного, непрерывного приема препарата у детей наблюдаются улучшения в речевом и психо-эмоциональном плане. Повышает концентрацию внимания.
								</p>
								
                            </div>
                    </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="@Url.Action("Methylcobalamin", "Medicine")">Подробнее</a>
                            
                        </div>
                    </div><!-- END medicament  МЕКАБОЛ ГОТОВО-->
                </div>

                <div class="row medicament-row">
                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Ocular", "Medicine")">
                                <img src="~/Content/images/medicine/m9.png" alt="Глазные аминопептиды, раствор для инъекций ">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Ocular", "Medicine")">Глазные аминопептиды, раствор для инъекций (Ocular Aminopeptide Injection) </a>
                            </h3>
                            <div class="medicament-china">眼氨肽注射液</div>
                            <div class="medicament-note">
                                Стимулирует обмен веществ глаза и способствует восстановлению верхней оболочки глаза.
                            </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="@Url.Action("Ocular", "Medicine")">Подробнее</a>
                        </div>
                    </div><!-- END medicament ОКУЛЯР АМИНОПЕПТИДЫ ГОТОВО-->

                    <div class="col-md-6 medicine-unit medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Ganoderma", "Medicine")">
                                <img src="~/Content/images/medicine/m3.png" alt="Боджи">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Ganoderma", "Medicine")">Гликопептид ганодермы (Бочжи), раствор для инъекций (Ganoderma capense Glycopeptide Injection) </a>
                            </h3>
                            <div class="medicament-china">薄芝糖肽注射液</div>
                            <div class="medicament-note">
                                <p>
								Применяется для нормализации обмена веществ в тканях головного мозга.
								</p>
								
								 </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="@Url.Action("Ganoderma", "Medicine")">Подробнее</a>
                        </div>
                    </div><!-- END medicament БОДЖИ ГОТОВО -->
                </div>

                <div class="row medicament-row">
                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Cerebroside", "Medicine")">
                                <img src="~/Content/images/medicine/medicament_5.jpg" alt="Цереброзид-Карнозин">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Cerebroside", "Medicine")">Цереброзид-Карнозин, раствор для инъекций (Cerebroside-Carnosine Injection)</a>
                            </h3>
                            <div class="medicament-china">复方脑肽节苷脂注射液</div>
                            <div class="medicament-note">
							<p>	
							 Лечение апоплексии мозга, старческого маразма, гипоксически-ишемической энцефалопатии новорожденных.
							</p>
							
							</div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="@Url.Action("Cerebroside", "Medicine")">Подробнее</a>
                        </div>
                    </div><!-- END medicament  Нет имени на китайском и картинки-->

                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Musk", "Medicine")">
                                <img src="~/Content/images/medicine/m8.png" alt="Мускус">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Musk", "Medicine")">Комплексный раствор для инъекций с мускусом (Compound Musk Injection)</a>
                            </h3>
                            <div class="medicament-china">复方麝香注射液</div>
                            <div class="medicament-note">
							<p>Мощный иммуностимулятор, регулятор сердечно - сосудистой системы, стимулятор процессов заживления. 
							</p>
							</div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="@Url.Action("Musk", "Medicine")">Подробнее</a>
                        </div>
                    </div><!-- END medicament  МУСКУС ГОТОВО-->
                </div><!-- END row -->

                <div class="row medicament-row">
                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Human", "Medicine")">
                                <img src="~/Content/images/medicine/m5.png" alt="Плацента">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Human", "Medicine")">Гидролизат человеческой плаценты (Human Placenta Hydrolysate)</a>
                            </h3>
                            <div class="medicament-china">人胎盘组织液</div>
                            <div class="medicament-note">
                            <p>
							 Повышает иммунитет и обладает десенсибилизирующим действием к влиянию внешних факторов на организм человека.							</p>
							</div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="@Url.Action("Human", "Medicine")">Подробнее</a>
                        </div>
                    </div><!-- END medicament  ПЛАЦЕНТА ГОТОВО-->

                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Oxiracetam", "Medicine")">
                                <img src="~/Content/images/medicine/medicament_methylcobalamin.jpg" alt="Оксирацетам">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Oxiracetam", "Medicine")">Оксирацетам, раствор для инъекций (Oxiracetam Injection)</a>
                            </h3>
                            <div class="medicament-china">奥拉西坦注射液</div>
                            <div class="medicament-note">
							<p>
							Используется в качестве ноотропного средства, для улучшения обучаемости или предупреждения когнитивных нарушений.
							</p>
							
						</div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="@Url.Action("Oxiracetam", "Medicine")">Подробнее</a>
                        </div>
                    </div><!-- END medicament нет фото Оксирацетама-->
                </div><!-- END row -->

                <div class="row medicament-row">
                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Cerebrolysin", "Medicine")">
                                <img src="~/Content/images/medicine/medicament.jpg" alt="Церебролизин">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Cerebrolysin", "Medicine")"> Церебролизин, раствор для инъекций (Cerebrolysin Injection)</a>
                            </h3>
                            <div class="medicament-china">乙酰谷酰胺</div> <!-- на китайском не правильно -->
                            <div class="medicament-note">
							<p> Оказывает положительное влияние при нарушениях познавательных функций, улучшает концентрацию внимания, процессы запоминания.
							</p>
                            </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="@Url.Action("Cerebrolysin", "Medicine")">Подробнее</a>
                        </div>
                    </div><!-- END medicament НЕТ КАРТИНКИ ЦЕРЕБРОЛИЗИН -->

                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Aceglutamide", "Medicine")">
                                <img src="~/Content/images/medicine/m7.png" alt="Cerebroside-Carnosine Injection">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Aceglutamide", "Medicine")"> Ацеглютамид, раствор для инъекций (Aceglutamide (Aceglutamine) Injection)</a>
                            </h3>
                            <div class="medicament-china">乙酰谷酰胺</div>
                            <div class="medicament-note">
							<p> Улучшает обмен веществ нейрона.  Увеличивает мозговую деятельность. 
														</p>
							</div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="@Url.Action("Aceglutamide", "Medicine")">Подробнее</a>
                        </div>
                    </div><!-- END medicament АЦЕЛЬГЛЮТАМЕД ГОТОВО-->
                </div><!-- END row -->

                <div class="row medicament-row">
                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Sodium", "Medicine")">
                                <img src="~/Content/images/medicine/m1.png" alt="Ганглиозид">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Sodium", "Medicine")">Моносиаловый ганглиозид GM1, раствор для инъекций (Sodium Monosialotetrahexosylganglioside (GM1) Injection)</a>
                            </h3>
                            <div class="medicament-china">单唾液酸四己糖神经节苷脂钠注射液</div>
                            <div class="medicament-note">
                                <p>   Эффективно применять ганглиозид одновременно с проводимыми курсами иглотерапии.
							   </p>
                      
                            </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="@Url.Action("Sodium", "Medicine")">Подробнее</a>
                        </div>
                    </div><!-- END medicament Ганглиозид готово-->
                    
                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Anisodine", "Medicine")">
                                <img src="~/Content/images/medicine/m4.png" alt="Анисодина">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Anisodine", "Medicine")">Комплексный раствор для инъекций анисодина гидробромида (Compound Anisodine Hydrobromide Injection) </a>
                            </h3>
                            <div class="medicament-china">复方樟柳碱注射液</div>
                            <div class="medicament-note">
                                Улучшает кровоснабжение, способствуюет быстрому восстановлению ишемической ткани.
                            </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="@Url.Action("Anisodine", "Medicine")">Подробнее</a>
                        </div>
                    </div><!-- END medicament -->
                </div><!-- END row -->

               <!--  <div class="row medicament-row">
                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Ocular", "Medicine")">
                                <img src="~/Content/images/medicine/medicament_5.jpg" alt="Мускус">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Ocular", "Medicine")">Мускус</a>
                            </h3>
                            <div class="medicament-china">复方麝香注射液</div>
                            <div class="medicament-note">
                                Мощный иммуностимулятор, регулятор сердечно - сосудистой системы,
                                стимулятор процессов заживления, средство для восстановления нервной системы.
                            </div>
                        </div>
                        <div class="medicament-btm">
                           
                            <a class="btn btn-light" href="@Url.Action("Ocular", "Medicine")">Подробнее</a>
					</div>
                    </div><!-- END medicament 
					
                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="@Url.Action("Aminobutyric", "Medicine")">
                                <img src="~/Content/images/medicine/medicament_2.jpg" alt="Ацеглютамид">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="@Url.Action("Aminobutyric", "Medicine")">Ацеглютамид</a>
                            </h3>
                            <div class="medicament-china">乙酰谷酰胺注射液</div>
                            <div class="medicament-note">
                                Нормализует обмен веществ нейрона. Стимулирует мозговую деятельность и
                                может способствовать улучшению памяти.
                            </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="@Url.Action("Aminobutyric", "Medicine")">Подробнее</a>
                        </div>
                    </div><!-- END medicament 
                </div> END row --> 

            </div><!-- END container -->
        </div><!-- END medicine -->

        @*<div class="all-pages-more testimonials-more">
            <div class="more-title">
                Позаканы <span id="more-count">4</span> из <span id="more-all">35</span>
            </div>
            <div class="more-btn">
                <a class="btn btn-light has-loading js-load-more-medicaments">загрузить еще</a>
            </div>
        </div>*@

    </div><!-- END all-pages-body -->


</div><!-- END main -->