@model Cure.WebSite.Models.BiblioPageModel
<li class="articles-item col-lg-6 col-md-6 col-xs-12">
    <div class="articles-item-wrapper">
        <div class="articles-item-image-wrapper">
            <a class="articles-item-image-link" href="@Url.Action(Model.Alias, "Biblio")">
                <span class="articles-item-image" style="background-image: url(@Html.Raw(Model.MainPictureSrc(Server)));"></span>
                <span class="articles-item-keyword">@Html.Raw(Model.SubjectNameUpper)</span>
            </a>
        </div>
        <div class="articles-item-name">
            <a class="articles-item-name-link" href="@Url.Action(Model.Alias, "Biblio")">@Html.Raw(Model.Name)</a>
        </div>
        <div class="articles-item-description">
            <p>@Html.Raw(Model.Subtitle)</p>
        </div>
        <ul class="social-list">
            <li class="social-list-item">
                <a class="social-list-item-link vk" href="http://vk.com/dcpchina" title="Вконтакте">
                    <i class="social-list-item-icon fa fa-vk"></i>
                </a>
            </li>
            <li class="social-list-item">
                <a class="social-list-item-link ok" href="http://ok.ru/dcpchina" title="Одноклассники">
                    <i class="social-list-item-icon fa fa-odnoklassniki"></i>
                </a>
            </li>
            <li class="social-list-item">
                <a class="social-list-item-link fb" href="https://www.facebook.com/groups/1589292531362315/" title="Facebook">
                    <i class="social-list-item-icon fa fa-facebook"></i>
                </a>
            </li>
        </ul>
    </div>
</li>